<!--<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                        <i class="ti-menu blackMenu"></i>
                    </a>
                    <div class="mobile-search waves-effect waves-light">
                        <div class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter Keyword">
                                    <span class="input-group-addon search-btn"><i class="ti-search blackMenu"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <a class="mobile-options waves-effect waves-light">
                        <i class="ti-more"></i>
                    </a>
                </div>
              
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>
                       
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="ti-fullscreen blackMenu"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <i class="ti-bell blackMenu"></i>
                                <span class="badge bg-c-red shadowColor"></span>
                            </a>
                            
                         </li>
                        <li class="user-profile header-notification">
                            <a href="#!" class="waves-effect waves-light userName">
                                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                                <span>Admin</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                
                                <li class="waves-effect waves-light">
                                    <a href="user-profile.html">
                                        <i class="ti-user"></i> Profile
                                    </a>
                                </li>
                               
                               
                                <li class="waves-effect waves-light">
                                    <a href="auth-normal-sign-in.html">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-header">
                                <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
                                <div class="user-details">
                                    <span id="more-details">Admin<i class="fa fa-caret-down"></i></span>
                                </div>
                            </div>
                    
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">
                                        <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                                        
                                        <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="pcoded-navigation-label" data-i18n="nav.category.navigation"></div>
                      <ul class="pcoded-item pcoded-left-item">
                        <li class="active index.html">
                            <a href="index.html" class="waves-effect waves-dark">
                                <span class="pcoded-micon"><i class="ti-home"></i></span>
                                <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Dashboard</span>
                                <span class="pcoded-mcaret"></span>
                            </a>                                  
                        </li>
                          <li class="pcoded-hasmenu">
                              <a href="javascript:void(0)" class="waves-effect waves-dark">
                                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                                  <span class="pcoded-mtext" data-i18n="nav.dash.main">Technology Transfer</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>
                              <ul class="pcoded-submenu fontWeight">
                                <li class=" ">
                                    <a href="form-elements-component.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-layers"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Milestones</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="bs-basic-table.html" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                        <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Assignments</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                              </ul>
                          </li>
                          <li class="">
                              <a href="#" class="waves-effect waves-dark">
                                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Patent</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>                                  
                          </li>
                          <li class="">
                              <a href="#" class="waves-effect waves-dark">
                                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Trademark</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>                                  
                          </li>
                          <li class="">
                              <a href="#" class="waves-effect waves-dark">
                                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Design</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>                                  
                          </li>
                          <li class="">
                              <a href="#" class="waves-effect waves-dark">
                                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Copyright</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>                                  
                          </li>
                          <li class="">
                              <a href="#" class="waves-effect waves-dark">
                                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                  <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Plant Variety</span>
                                  <span class="pcoded-mcaret"></span>
                              </a>                                  
                          </li>
                          <li class="">
                            <a href="#" class="waves-effect waves-dark">
                                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Other Services</span>
                                <span class="pcoded-mcaret"></span>
                            </a>                                  
                        </li>
                          <li class="">
                            <a href="#" class="waves-effect waves-dark">
                                <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                                <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Reports</span>
                                <span class="pcoded-mcaret"></span>
                            </a>                                  
                        </li>
                      </ul> 
                      <div class="dummyHeight"></div>  
                    </div>
                </nav> -->
                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">MOU</h5>
                                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">MOU</a>
                                        </li>
                                        <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    
                                    <!-- Hover table card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>{{activearray?.tabelname}}</h5>
                                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                            <div class="card-header-right">
                                                <ul class="list-unstyled card-option">
                                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                                    <li><i class="fa fa-trash close-card"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-block table-border-style">
                                          <div class="table-responsive">
                                            <table class="table table-hover" *ngIf="showpage">
                                              <thead>
                                                <tr>
                                                  <th>#</th>
                                                  <th>Institute</th>
                                                  <th>Dept. Name</th>
                                                  <th>Phone No.</th>
                                                  <th>Director Name</th>
                                                  <th>Director Mobile</th>

                                                  <th>Action</th>
                                                  <th *ngIf="viewhistory">History</th>
                                                   <th *ngIf="viewremark">Remarks</th>
                                                  <th *ngIf="viewadditionfile">AdditionFile</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="let item of mouModel;let i=index;">
                                                  <th scope="row">{{i+1}}</th>
                                                  <td>{{item.int_Uni_Name}}</td>
                                                  <td>{{item.dept_Name}}</td>
                                                  <td>{{item.phoneNo}}</td>
                                                  <td>{{item.dir_Head_Name}}</td>
                                                  <td>{{item.dir_Mobile_No}}</td>

                                                  <td>
                                                    <button value="back" *ngIf="activearray?.back && permissionbutton1" title="{{activearray?.backtitle}}" class="btn btn-primary" (click)="onmodalclick($event.target.value,item)">{{activearray?.backbuttonText}}</button>
                                                    <button value="forword" *ngIf="activearray?.forwardCheck && permission" title="{{activearray?.forwordtitle}}" class="btn btn-success ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.forwardText}}</button>
                                                    <button value="approve" *ngIf="activearray?.approved" title="{{activearray?.approvetitle}}"   approvetitle class="btn btn-info ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.approvedText}}</button>

                                                  </td>
                                                  <td *ngIf="viewhistory"><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'mou',refid:item.refid}">View</a></td>
<td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td>
<td *ngIf="viewadditionfile"><button class="btn btn-info">Additionfile</button></td>
                                                </tr>
                                              </tbody>
                                            </table>


                                            
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Hover table card end -->
                                    
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->

                        <!-- <div id="styleSelector">

                        </div> -->
                    </div>
                    <app-footer></app-footer>
                </div>
            <!-- </div>
        </div>
    </div>
</div> -->

<div class="modal fade" bsModal #editorModal1="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" >
    <div class="modal-dialog modal-lg" style="max-height: 600px;
    overflow: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Application Forward</h4>
                <button type="button" class="close float-right" title="Close" (click)="editorModal1.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="ForwardForm">

                <div class="form-group row" *ngIf="type=='S101' && isAdmin && forword">
                  <div class="col-sm-12">
                    <label class="col-form-label">Select Legal Manager</label>

                    <select type="text" class="form-control" formControlName="assignto" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                      <option value="" selected>--select--</option>
                      <option *ngFor="let data of rows" value="{{data.id}}">{{data.fullName}}</option>

                    </select>


                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Subject</label>
                    <input type="text" class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                    <p *ngIf="submitted && f.subject.errors" class="invalid-feedback">Subject is required</p>
                           

                  </div>
                </div>
                <div class="form-group row" *ngIf="activearray?.type">
                  <div class="col-sm-12">
                    <label class="col-form-label">Type</label>
                    <select type="text" class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                      <option value="">Choose</option>
                      <option value="MOU">MOU</option>
                      <option value="NDA">NDA</option>
                      <option value="Work Order">Work Order</option>
                      <option value="Others">Others</option>
                    </select>


                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Remarks</label>
                    <textarea type="text" class="form-control" formControlName="remarks" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }">
                                </textarea>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Upload</label>
                    <input type="file" class="form-control" (change)="fileChangeEvent($event)" />


                  </div>
                </div>

                <div class="form-group row"  *ngIf="activearray?.value=='S101'">
<div class="col-sm-6"> 
    <label class="col-form-label">Default Reminder</label>
    <input type="radio" class="form-control" name="remindertype" value="default"  formControlName="remindertype" (change)="reminderchange('default')"/>
 
</div>
    <div class="col-sm-6"> 
        <label class="col-form-label">Custom Reminder</label>
        <input type="radio" class="form-control" name="remindertype" value="custom" formControlName="remindertype" (change)="reminderchange('custom')"/>
           
                  </div>
                </div>
                 <div class="form-group row"  *ngIf="activearray?.value=='S101'">
                    <app-reminder *ngIf="customrem" [customrem]="customrem" [mouref]="mouref" [type]="type" style="width:100%"></app-reminder>
                 </div>

                
                   
              

                <div class="form-group row">
                  <div class="col-sm-6">
                    <!-- <button type="submit"
                            class="btn btn-success"
                            (click)="uploadFile()">
                      Upload File
                    </button> -->
                    <button type="submit" class="btn btn-success"  (click)="uploadFile()" [disabled]="loading">
                        <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'Saving...' : 'Save'}}
                      </button>
                  </div>
                  

                </div>


              </form>
                <!-- <ul class="list-unstyled">
                    <li *ngFor="let role of rows"><input type="checkbox" name="checkbox-{{role.name}}" [disabled]="!canManageRoles" [(ngModel)]="selectedValues1[role.id+uservalue]" />{{role.name}}</li>
                </ul>
                <button type="button" [ngClass]="!canManageRoles ? 'd-none': ''" [disabled]="!canManageRoles" (click)="addrolepermissionsubmit()" class="btn btn-sm btn-outline-primary"><i class="fa fa-save"></i> Submit</button> -->

            </div>
        </div>
    </div>
  </div>

  <!-- <div class="modal fade" bsModal #editorModal2="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" style="min-height:600px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Application Forward</h4>
                <button type="button" class="close float-right" title="Close" (click)="editorModal2.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body"> -->
 
            <!-- </div>
  </div>
  </div>
  </div> -->