
                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">{{array?.tablename}}</h5>
                                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">{{array?.tablename}}</a>
                                        </li>
                                        <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    
                                    <!-- Hover table card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>{{array?.tablename}}</h5>
                                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                            <div class="card-header-right">
                                                <ul class="list-unstyled card-option">
                                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                                    <!-- <li><i class="fa fa-trash close-card"></i></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-block table-border-style">
                                          <div class="table-responsive">
                                            <table class="table table-hover" *ngIf="showpage">
                                              <thead>
                                                <tr>
                                                  <th>#</th>
                                                  <th>MoU No</th>
                                                  <th>Institute</th>
                                                  <th>Dept. Name</th>
                                                  
                                                  <th>Director Name</th>
                                                  <th>Director Phone</th>
                                               
                                                  <th >Action</th>
                                                  <th *ngIf="viewhistory">History</th>
                                                
                                                 <th *ngIf="viewadditionalfileright">Additional File</th>
                                                 <th *ngIf="viewremark">Previous Remarks</th> 
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="let item of mouModel;let i=index;">
                                                  <th scope="row">{{i+1}}</th>
                                                  <td>{{item.mou_no}}</td>
                                                  <td>{{item.int_Uni_Name}}</td>
                                                  <td>{{item.dept_Name}}</td>
                                                  
                                                  <td>{{item.dir_Head_Name}}</td>
                                                  <td>{{item.dir_Phone_No}} <span  class="badge badge-info" *ngIf="(isScientist==true || isNodal==true) && (item.app_Status=='S101'||item.app_Status=='S102'||item.app_Status=='S103'||item.app_Status=='S104')">Document in process</span></td>
                                                      <!-- <td *ngIf="(app_status=='S101'||item.app_status=='S102'||item.app_status=='S103'||item.app_status=='S104')?showitem=true:showitem=false">Under Process</td>
                                                      --> 
                                                      <td> 
                                                        <ng-container *ngFor="let btn of array?.button">
                                                            <button  type="submit" class="misbtn {{btn?.class}}" *ngIf="btn.value=='assign'?isNodal:true" title="{{btn.title}}" (click)="onmodalclick($event.target.value,btn.value,item)">{{btn.text}}</button>
                                                                                                      </ng-container>
                                                    <!-- <button value="back" *ngIf="activearray?.back && permissionbutton1" title="{{activearray?.backtitle}}" class="btn btn-primary" (click)="onmodalclick($event.target.value,item)">{{activearray?.backbuttonText}}</button>
                                                    <button value="forword" *ngIf="activearray?.forwardCheck && permission" title="{{activearray?.forwordtitle}}" class="btn btn-success ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.forwardText}}</button>
                                                    <button value="approve" *ngIf="activearray?.approved && permission" title="{{activearray?.approvetitle}}"   approvetitle class="btn btn-info ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.approvedText}}</button> -->

                                                  </td>
                                                  <td *ngIf="viewhistory"><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'mou',refid:item.refid}">View</a></td>
<!-- <td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td><span class="badge badge-light">{{item.additionalfilecount}}</span> -->
<td *ngIf="viewadditionalfileright" ><a (click)="viewadditionalfile(item)" class="stretched-link">View</a></td>
<td *ngIf="viewremark"><p class="spandots" (click)="remarksview(item.remarks)">{{item.remarks}}</p></td>
                                                </tr>
                                              </tbody>
                                            </table>


                                            
                                          </div>
                                        </div>
                                    </div>
                                    <!-- Hover table card end -->
                                    
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->

                        <!-- <div id="styleSelector">

                        </div> -->
                    </div>
                    <app-footer></app-footer>
                </div>
            <!-- </div>
        </div>
    </div>
</div> -->


  <app-addition-file></app-addition-file>
  <app-activity [array]="array"></app-activity>
  <app-add-scientist></app-add-scientist>
 