<header class="headerMain innerHeader">
    <div class="headercl">
        <div class="headerContent">
            <div class="secLogo">
                <img alt="BCIL" src="assets/images/TTO@BCIL LOGO.png" />
            </div> 
            <div class="logo">
                <a href="#">
                    <img alt="BCIL" src="assets/images/bcil-logo-new.png" height="70px"/>
                </a>  
                <!-- <div class="site-branding__text">
                    <div class="site-branding__name">
                        <a href="/en" title="Department Name" rel="home">Biotech Consortium India Limited (BCIL)</a>
                    </div>
                    <div class="site-branding__slogan">Pioneering Biotechnology Commercialization since 1990</div>
                </div>               -->
            </div>
            <!-- <h1>Duplicate Academy Document System</h1>-->
            <!-- <div class="secLogo">
                <img alt="BCIL" src="assets/images/newsd_3.png" />
            </div>  -->
        </div>           
    </div>
</header>