<footer class="footerElement">
    <div class="footerContent">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-6 col-sm-6 xs-padding">
                    <div class="widget-content">
                        <h3>Quick Links</h3>
                    <ul class="widget-link">
                        <li><a href="/en/website-policies">Website Policies</a></li>
                        <li><a href="/en/help">Help</a></li>
                        <li><a href="/en/feedback">Feedback</a></li>
                        <li><a href="/en/terms-conditions">Terms and Conditions</a></li>
                        <li><a href="/en/accessibility-statement">Accessibility Statement</a></li>
                    </ul>
                    </div>                        
                </div> -->
                <div class="col-md-12 col-sm-12 xs-padding textCenter">
                    <div class="widget-content">
                        <h3>Biotech Consortium India Limited</h3>
                        <ul class="address">
                            <li>5th Floor, Anuvrat Bhawan 210, Deen Dayal Upadhay Marg New Delhi-110002</li>
                            <li>+91 (011) 23219064-67</li>
                            <li>info[dot]bcil[at]biotech[dot]co[dot]in</li>
                            <li>www[dot]biotech[dot]co[dot]in</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomFooter">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4 col-sm-4 borderRight"> -->
                    <!-- <h6>Visitor No.: <img alt="web counter" height="18" src="https://simplehitcounter.com/hit.php?uid=2229991&amp;f=16777215&amp;b=0" width="83"></h6> -->
                <!-- </div> -->
                <div class="col-md-12 col-sm-12  textCenter">
                    <p>COPYRIGHT © 2021 BCIL <span> All rights reserved.</span></p>
                </div>
                <!-- <div class="col-md-4 col-sm-4 textRight"> -->
                    <!-- <p class="field-content">Last Updated On : 07-04-2021 01:04:00</p> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</footer>
