<footer class="footerElement dashFooter">
    <div class="footerContent">
        <div class="container">
            <div class="row">        
                <div class="col-md-6">
                    <h3>Biotech Consortium India Limited</h3>
                    <p>5th Floor,<br>Anuvrat Bhawan 210,<br>Deen Dayal Upadhay Marg<br>New Delhi-110002</p>
                </div>                        
                <div class="col-md-6 col-sm-6 contactInfo textCenter"  style="text-align: right;">
                    <h4>Contact Info</h4>
                    <ul class="address">                                        
                        <li>+91 (011) 23219064-67</li>
                        <li>info[dot]bcil[at]biotech[dot]co[dot]in</li>
                        <li>www[dot]biotech[dot]co[dot]in</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomFooter">
        <div class="container">
            <div class="row">
              
                <div class="col-md-12 col-sm-12  textCenter">
                    <p>COPYRIGHT © 2021 BCIL <span> All rights reserved.</span></p>
                </div>
              
            </div>
        </div>
    </div>
</footer>