<div class="modal fade" bsModal #editorModal2="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg" style="max-height: 600px;
    overflow: auto;">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Law Firm Invoice</h4>
          <button type="button" class="close float-right" title="Close" (click)="editorModal2.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      
            <form [formGroup]="ForwardForm">
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label class="col-form-label">Invoice Number</label>
                    <label class="col-form-label" *ngIf="mode=='view'"> :  {{f.invoiceno.value}}</label>
                    <input  *ngIf="mode!='view'" type="text" class="form-control" formControlName="invoiceno" [ngClass]="{ 'is-invalid': submitted && f.invoiceno.errors }" />
                    <p *ngIf="submitted && f.invoiceno.errors" class="invalid-feedback">Invoice Number is required</p>
                            
      
                  </div>
                  <div class="col-sm-6">
                    <label class="col-form-label">Invoice Date</label>
                    <label class="col-form-label" *ngIf="mode=='view'">:   {{f.invoicedate.value}}</label>
                    <input *ngIf="mode!='view'" type="date" class="form-control" formControlName="invoicedate" [ngClass]="{ 'is-invalid': submitted && f.invoicedate.errors }" />
                    <p *ngIf="submitted && f.invoicedate.errors" class="invalid-feedback">Invoice Date is required</p>
                            
      
                  </div>
                </div>
                <div class="form-group row">
                <div class="col-sm-12">
                  <label class="col-form-label">Application No</label>
                  <label class="col-form-label" *ngIf="mode=='view'"> :  {{f.applicationno.value}}</label>
               
                  <input *ngIf="mode!='view'" type="text" class="form-control" formControlName="applicationno" [ngClass]="{ 'is-invalid': submitted && f.applicationno.errors }" />
                  <p *ngIf="submitted && f.applicationno.errors" class="invalid-feedback">Application No is required</p>
                   
                  </div>
                  </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="col-form-label">Client Name</label>
                        <label class="col-form-label" *ngIf="mode=='view' || mode=='edit'">:   {{selectedorg}}</label>
                        <select *ngIf="mode!='view' && mode!='edit'" type="text" [(ngModel)]="selectedorg" class="form-control" formControlName="clientname" [ngClass]="{ 'is-invalid': submitted && f.clientname.errors }" >
                          <option *ngFor="let org of Organization" value="{{org.value}}">{{org.value}}</option>
                      </select>
                      <p *ngIf="submitted && f.clientname.errors" class="invalid-feedback">Client Name is required</p>
                          
                        </div>
                        </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                    <label class="col-form-label">Activity</label>
                   <ng-container *ngIf="mode=='view' || mode=='edit'" >
                    <p *ngFor="let tt of rowactivity">{{tt.name}}</p>
                  </ng-container>
                    <ng-select *ngIf="mode!='view' "   size="1" id="roles-user-info" name="activity" formControlName="activity"  [items]="rowactivity" bindLabel="name" bindValue="name" [multiple]="true" [closeOnSelect]="false"
                    placeholder="Select Activity"   class="form-control left-status pill-items" required>
           <ng-template ng-label-tmp let-item="item" let-clear="clear">
             <span title='{{item.name}}' class='badge badge-pill badge-secondary'>{{item.name}}<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span></span>
           </ng-template>
 
           <ng-template ng-option-tmp let-item="item">
             <span title='{{item.name}}' class='badge badge-pill badge-secondary'>{{item.name}}</span>
             <i class="fa fa-check d-none"></i>
           </ng-template>
         </ng-select>         
      
                  </div>
                    </div>
                    <ng-container>
                      <ng-container *ngIf="countsub('off')>0">
                      <div class="row">
                        <div class="col-sm-12">
    
                          <h5>Official Fees</h5>
                          <div class="row">
                            <div class="col-sm-1">
                              </div>
                        <div class="col-sm-3">
                          <label>Date</label>
                          </div>
                          
                            <div class="col-sm-3">
                              <label>Description</label>
                              </div>
                              <div class="col-sm-3">
                            <label>INR</label>
                            </div>
                            </div>
                        
                          <div class="row" *ngFor="let off of filters(jsonarray,'off');let i=index">
<div class="col-sm-1">{{i+1}}</div>
<div class="col-sm-3">{{off.date}}</div>
<div class="col-sm-3">{{off.description}}</div>
<div class="col-sm-3">{{off.price}}</div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-sm-6">Total Offical Fess</div>
                            <div class="col-sm-3">INR {{totalsub('off')}}</div>
                          </div>
                          </div>
                          </div>
                          </ng-container>
                          <ng-container  *ngIf="countsub('pro')>0">
                          <div class="row mt-5">
                            <div class="col-sm-12">
        
                              <h5>Professional Fees</h5>
                              <div class="row">
                                <div class="col-sm-1">
                                  </div>
                            <div class="col-sm-3">
                              <label>Date</label>
                              </div>
                              
                                <div class="col-sm-3">
                                  <label>Description</label>
                                  </div>
                                  <div class="col-sm-3">
                                <label>INR</label>
                                </div>
                                </div>
                              
                              <div class="row mt-5" *ngFor="let off of filters(jsonarray,'pro');let i=index">
    <div class="col-sm-1">{{i+1}}</div>
    <div class="col-sm-3">{{off.date}}</div>
    <div class="col-sm-3">{{off.description}}</div>
    <div class="col-sm-3">{{off.price}}</div>
                              </div>
                              <div class="row mt-3">
                                <div class="col-sm-6">Total Professional Fess</div>
                                <div class="col-sm-3">INR {{totalsub('pro')}}</div>
                              </div>
                              </div>
                              </div>
                          </ng-container>
                              <ng-container *ngIf="countsub('dis')>0">
                              <div class="row mt-5">
                                <div class="col-sm-12">
            
                                  <h5>Disbursement Fees</h5>
                                  <div class="row">
                                    <div class="col-sm-1">
                                      </div>
                                <div class="col-sm-3">
                                  <label>Date</label>
                                  </div>
                                  
                                    <div class="col-sm-3">
                                      <label>Description</label>
                                      </div>
                                      <div class="col-sm-3">
                                    <label>INR</label>
                                    </div>
                                    </div>
                              
                                  <div class="row" *ngFor="let off of filters(jsonarray,'dis');let i=index">
        <div class="col-sm-1">{{i+1}}</div>
        <div class="col-sm-3">{{off.date}}</div>
        <div class="col-sm-3">{{off.description}}</div>
        <div class="col-sm-3">{{off.price}}</div>
                                  </div>
                                  <div class="row mt-3">
                                    <div class="col-sm-6">Total Disbursement Fess</div>
                                    <div class="col-sm-3">{{totalsub('dis')}}</div>
                                  </div>
                                </div>
                              </div>
                              <div class="row mt-5">
                                <div class="col-md-6"><b>Total Fee</b></div>
                                <div class="col-md-6"><b>INR {{totalsub('tot')}}</b></div>
                              </div>
                                </ng-container>
                               
                    </ng-container>

                <ng-container *ngIf="mode!='view' && mode!='edit'">
                  
                    <div class="row">
                      <div class="col-sm-12">
  
                        <h5>Official Fees</h5>
                        <div class="row">
                          <div class="col-sm-1">
                            </div>
                      <div class="col-sm-3">
                        <label>Date</label>
                        </div>
                        
                          <div class="col-sm-3">
                            <label>Description</label>
                            </div>
                            <div class="col-sm-3">
                          <label>INR</label>
                          </div>
                          </div>
                      </div>
                        </div>
                    <div formArrayName="officialdata" *ngFor="let item of officialdata.controls; let i = index" class="form-group">
                      <div [formGroupName]="i">
                       
                          <input type="hidden" formControlName="ID" />
                         
                            <div class="row">
                              <div class="col-sm-1">
                                {{i+1}}
                              </div>
                              <div class="col-sm-3">
  <input type="date"  class="form-control"  formControlName="date" id="date+i"/>
  <p *ngIf="submitted && f.date?.errors" class="invalid-feedback">Date is required</p>
                                </div>
                                <div class="col-sm-3">
                                  <input type="text"  class="form-control" formControlName="description" id="description+i"/>
                                  <p *ngIf="submitted && f.description?.errors" class="invalid-feedback">Description is required</p>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                  <input type="number"  class="form-control"  formControlName="price" id="timeline+i" (keyup)="officalvalue($event.target.value)"/>
                                                                  <p *ngIf="submitted && f.price?.errors" class="invalid-feedback">Price is required</p> 
                                                                </div>
        <div class="col-md-1">
   <button *ngIf="officialdata.length>1" (click)="deleteOfficiaItem(i)" class="btn btn-sm"><i class="fa fa-trash"></i></button>
                                                                                
                                                                                                </div>
                                </div>
                              
                              </div>
  
                                </div>
                                <div class="row">
                                  <div class="col-md-2">
                                    <button class="btn btn-success btn-sm" type="button" (click)="addOfficialItem()" ><i class="fa fa-plus"></i></button>
                      
                      
                                  </div>
                                </div>
                                <hr/>
                                <div class="row mt-5">
                                    <div class="col-md-8">
                                     <b>Total Offical Fees</b>
                        
                                    </div>
                                    <div class="col-2">
                                        <b>{{offsum}}</b>
                                    </div>
                                  </div>
                                  <hr/>
                              </ng-container>
           
                              <ng-container  *ngIf="mode!='view' && mode!='edit'" style="margin-bottom:5px;">
                  
                                <div class="row">
                                  <div class="col-sm-12">
              
                                    <h5>Proffesional Fees</h5>
                                    <div class="row">
                                      <div class="col-sm-1">
                                        </div>
                                  <div class="col-sm-3">
                                    <label>Date</label>
                                    </div>
                                    
                                      <div class="col-sm-3">
                                        <label>Description</label>
                                        </div>
                                        <div class="col-sm-3">
                                      <label>INR</label>
                                      </div>
                                      </div>
                                  </div>
                                    </div>
                                <div formArrayName="professionaldata" *ngFor="let item of professionaldata.controls; let i = index" class="form-group">
                                  <div [formGroupName]="i">
                                   
                                      <input type="hidden" formControlName="ID" />
                                     
                                        <div class="row">
                                          <div class="col-sm-1">
                                            {{i+1}}
                                          </div>
                                          <div class="col-sm-3">
              <input type="date"  class="form-control"  formControlName="date" id="date+i"/>
              <p *ngIf="submitted && f.date?.errors" class="invalid-feedback">Date is required</p>
                                            </div>
                                            <div class="col-sm-3">
                                              <input type="text"  class="form-control" formControlName="description" id="description+i"/>
                                              <p *ngIf="submitted && f.description?.errors" class="invalid-feedback">Description is required</p>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                              <input type="number"  class="form-control"  formControlName="price" id="price+i" (keyup)="provalue($event.target.value)"/>
                                                                              <p *ngIf="submitted && f.price?.errors" class="invalid-feedback">Price is required</p> 
                                                                            </div>
                    <div class="col-md-1">
               <button *ngIf="professionaldata.length>1" (click)="deleteProfessionaltem(i)" class="btn btn-sm"><i class="fa fa-trash"></i></button>
                                                                                            
                                                                                                            </div>
                                            </div>
                                          
                                          </div>
              
                                            </div>
                                            <div class="row">
                                              <div class="col-md-2">
                                                <button class="btn btn-success btn-sm" type="button" (click)="addProfessionalItem()" ><i class="fa fa-plus"></i></button>
                                  
                                  
                                              </div>
                                            </div>
                                            <hr/>
                                            <div class="row mt-5">
                                                <div class="col-md-8">
                                                <b>Total Professional Fees</b>
                                    
                                                </div>
                                                <div class="col-2">
                                                    <b>{{prosum}}</b>
                                                </div>
                                              </div>
                                              <hr/>
                                          </ng-container>
            
                                          <ng-container  *ngIf="mode!='view' && mode!='edit'" style="margin-bottom:5px;">
                  
                                            <div class="row">
                                              <div class="col-sm-12">
                          
                                                <h5>Disbursements</h5>
                                                <div class="row">
                                                  <div class="col-sm-1">
                                                    </div>
                                              <div class="col-sm-3">
                                                <label>Date</label>
                                                </div>
                                                
                                                  <div class="col-sm-3">
                                                    <label>Description</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                  <label>INR</label>
                                                  </div>
                                                  </div>
                                              </div>
                                                </div>
                                            <div formArrayName="disbursementdata" *ngFor="let item of disbursementdata.controls; let i = index" class="form-group">
                                              <div [formGroupName]="i">
                                               
                                                  <input type="hidden" formControlName="ID" />
                                                 
                                                    <div class="row">
                                                      <div class="col-sm-1">
                                                        {{i+1}}
                                                      </div>
                                                      <div class="col-sm-3">
                          <input type="date"  class="form-control"  formControlName="date" id="date+i"/>
                          <p *ngIf="submitted && f.date?.errors" class="invalid-feedback">Date is required</p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                          <input type="text"  class="form-control" formControlName="description" id="description+i"/>
                                                          <p *ngIf="submitted && f.description?.errors" class="invalid-feedback">Description is required</p>
                                                                                        </div>
                                                                                        <div class="col-sm-3">
                                                                                          <input type="number"  class="form-control"  formControlName="price" id="timeline+i" (keyup)="disvalue($event.target.value)"/>
                                                                                          <p *ngIf="submitted && f.price?.errors" class="invalid-feedback">Price is required</p> 
                                                                                        </div>
                                <div class="col-md-1">
                           <button *ngIf="disbursementdata.length>1" (click)="deletedisbursementItem(i)" class="btn btn-sm"><i class="fa fa-trash"></i></button>
                                                                                                        
                                                                                                                        </div>
                                                        </div>
                                                      
                                                      </div>
                          
                                                        </div>
                                                        <div class="row">
                                                          <div class="col-md-2">
                                                            <button class="btn btn-success btn-sm" type="button" (click)="addDisbursementItem()" ><i class="fa fa-plus"></i></button>
                                              
                                              
                                                          </div>
                                                        </div>
                                                        <hr/>
                                                        <div class="row mt-5">
                                                            <div class="col-md-8">
                                                            <b>Total Disbursement Fees</b>
                                                
                                                            </div>
                                                            <div class="col-2">
                                                                <b>{{dissum}}</b>
                                                            </div>
                                                          </div>
                                                          <hr/>
                                                          <div class="row">
                                                            <div class="col-md-8">
                                                            <h6><b>Total  Fees</b></h6>
                                                
                                                            </div>
                                                            <div class="col-4">
                                                                <h6><b>INR : {{totalsum}}</b></h6>
                                                            </div>
                                                          </div>
                                                      </ng-container>
                                      
                  
      
               
      
                                                      <div class="form-group row" *ngIf="mode=='view'">
                                                        <div class="col-sm-12">
                                                          <label class="col-form-label">Upload</label>
                                                          <p><a target="_bliank" href="{{getbaseurl}}/{{fileurl}}">File</a></p>
                                                          </div>
                                                          </div>
                <div class="form-group row" *ngIf="mode!='view'">
                  <div class="col-sm-12">
                    <label class="col-form-label">Upload</label>
                    <input type="file"  accept="*" class="form-control"  (change)="fileChangeEvent($event)" />
                    <input type="hidden" name="files" formControlName="files" /> 
                    <p *ngIf="submitted && f.files.errors" class="invalid-feedback">File is required</p>
                  
                    <span class="text-danger float-right">*For multiple files, please compress and upload.(zip format)</span>
      
      
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                   
                    <button *ngIf="mode=='edit'" type="submit" class="btn btn-success" (click)="Updateupload()" [disabled]="loading">
                      <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'Updating...' : 'Update'}}
                    </button>
                    <button *ngIf="mode=='view'" type="submit" class="btn btn-success" (click)="Editupload()" [disabled]="loading">
                      <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'Saving...' : 'Edit'}}
                    </button>
                    <button *ngIf="mode!='view' && mode!='edit'" type="submit" class="btn btn-success" (click)="uploadClientFile()" [disabled]="loading">
                      <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'Saving...' : 'Save'}}
                    </button>
                  </div>
                </div>
      
      
              </form>
        </div>
      </div>
    </div>
  </div>