<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Notifications</h5>
                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Notifications</a>
                        </li>
                        <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    
                    <!-- Hover table card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Notifications</h5>
                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <!-- <li><i class="fa fa-trash close-card"></i></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="card-block table-border-style">
                          <div class="table-responsive">
                            <table class="table table-hover" *ngIf="showpage">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Action</th>
                              
                                  <th>App No</th>
                                  <th>Stage</th>
                                  <th>User</th>
                                  <th>Message</th>
                                  <th>Reminder Type</th>
                                  <th>Reminder Category</th>
                              
                                                
                              
                                </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let noti of noticfy_class;let i=index">
                                      <td>{{i+1}}</td>
                                      <td>
                                        <p>
                                            <a *ngIf="noti.snoozecheck!='off'"   (click)="snoozebtn(noti,i)"><i *ngIf="noti.loading" class='fa fa-circle-o-notch fa-spin'></i>{{noti.loading? 'submitting...' : 'Snooze On'}}</a>
                                            <a *ngIf="noti.snoozecheck=='off'"   (click)="snoozebtn(noti,i)"><i *ngIf="noti.loading" class='fa fa-circle-o-notch fa-spin'></i>{{noti.loading ? 'submitting...' : 'Snooze off'}}</a>
                                            </p>
                                     </td>
                                      <td>{{noti?.mouref}}</td>
                                      <td>{{noti?.stageon}}</td>
                                      <td>{{noti?.userid}}</td>
                                      <td  class="spandots" (click)="remarksview(noti.message)" [innerHtml]="noti.message"></td>
                                      <td>{{noti?.remindertype=='1'?'Laspse Reminder':'DeadLine Line Reminder'}}</td>
                                      <td>{{noti?.remindercategory}}</td>
                                     
                                

                                      
                                      <!-- <td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td><span class="badge badge-light">{{item.additionalfilecount}}</span> -->
                                    </tr>
                                  </tbody>
                                  </table>
                          </div>
                          </div>
                          </div>
                          <app-footer></app-footer>
                          </div>
            </div>
          