<!-- <p>bcil works!</p> -->

<app-header></app-header>

<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
            <i class="ti-menu blackMenu"></i>
          </a>
          <div class="mobile-search waves-effect waves-light">
            <div class="header-search">
              <div class="main-search morphsearch-search">
                <div class="input-group">
                  <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                  <input type="text" class="form-control" placeholder="Enter Keyword">
                  <span class="input-group-addon search-btn"><i class="ti-search blackMenu"></i></span>
                </div>
              </div>
            </div>
          </div>
          <!-- <a href="index.html">
              <img class="img-fluid" src="assets/images/bcils_logos_d.jpg" alt="Theme-Logo" />
          </a> -->
          <a class="mobile-options waves-effect waves-light">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li>
              <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
            </li>
            <!-- <li class="header-search">
                <div class="main-search morphsearch-search">
                    <div class="input-group">
                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon search-btn"><i class="ti-search blackMenu"></i></span>
                    </div>
                </div>
            </li> -->
            <li>
              <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                <i class="ti-fullscreen blackMenu"></i>
              </a>
            </li>
          </ul>
          <ul class="nav-right">
            <li class="header-notification">
              <a href="javascript:void(0)" class="waves-effect waves-light">
                <i class="ti-bell blackMenu"></i>
                <span [ngClass]="{'bg-c-red shadowColor badge':notify==true,'info':notify==false}"></span>
              </a>

              <ul class="show-notification" *ngIf="notify">
                <li>
                  <h6>Notifications</h6>
                  <label class="label label-danger">New <span class="badge badge-light">{{notificationcount}}</span></label>
                </li>

                <li class="waves-effect waves-light" *ngFor="let n of noticfy_class;" [ngClass]="{'disabled':n.active==false}">
                  <div class="media" (click)="notificationseen(n.refid)">
                    <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="notification-user">{{n.user}}</h5>
                      <p class="notification-msg">{{n.message}}</p>
                      <span class="notification-time">{{n.createdon}}</span>
                    </div>
                  </div>
                </li>

              </ul>

            </li>
            <li class="user-profile header-notification ">
              <a href="javascript:{}" class="waves-effect waves-light userName">
                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                <span>{{usertype}}</span>
                <i class="ti-angle-down"></i>
              </a>
              <ul class="show-notification profile-notification ">

                <li class="waves-effect waves-light">
                  <a routerLink="./user-profile">
                    <i class="ti-user"></i> Profile
                  </a>
                </li>


                <li class="waves-effect waves-light">
                  <a href="javascript:void(0)" (click)="logout()">
                    <i class="ti-layout-sidebar-left"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
          <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu">
            <div class="">
              <div class="main-menu-header">
                <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
                <div class="user-details">
                  <span id="more-details">{{UserName}}<i class="fa fa-caret-down"></i></span>
                </div>
              </div>

              <div class="main-menu-content">
                <ul>
                  <li class="more-details">
                    <a routerLink="./user-profile"><i class="ti-user"></i>View Profile</a>
                    <a (click)="logout()" class="btn-link"><i class="ti-layout-sidebar-left"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="p-15 p-b-0">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <input type="text" name="footer-email" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Item</label>
                    </div>
                </form>
            </div> -->
            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation"></div>
            <ul class="pcoded-item pcoded-left-item">
              <li class="active index.html">
                <a href="index.html" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-home"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Dashboard</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="pcoded-hasmenu" *ngIf="canViewTechnologytransfer">
                <a href="javascript:void(0)" class="waves-effect waves-dark" (click)="loadscript()">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">Technology Transfer</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu fontWeight">
                  <li class=" " *ngIf="canviewTta_initPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_init'}">
                      <span class="pcoded-micon"><i class="ti-layers"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">TTA INIT</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_evaluation_assignedPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_evaluation_assigned'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Evaluation Assigned</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                  <li class=" " *ngIf="canviewTta_evaluation_upload_by_bdmPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_evaluation_uploaded_by_bdm'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Evaluation Uploaded by BDM</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_evaluation_closure_by_adminPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_evaluation_closure_by_admin'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Evaluation Closure by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_evaluation_approved_by_adminPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_evaluation_approved_by_admin'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Evaluation Approved by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_evaluation_change_request_by_adminPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_evaluation_change_req_by_admin'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Evaluation Change Request by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_Closure_request_by_bdmPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_closure_requested_by_bdm'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Closure Requested by BDM</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_closePermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_closed'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Closed</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_evaluation_change_request_by_clientPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_evaluation_change_req_by_client'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Evaluation Change Request by Client</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_evaluation_accepted_by_clientPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_evaluation_accepted_by_client'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Evaluation Accepted by Client</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_strategy_assignedPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_strategy_assigned'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Strategy Assigned</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_strategy_uploaded_by_bdmPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_strategy_uploaded_by_bdm'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Strategy Uploaded by BDM</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewtta_strategy_change_request_by_adminPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_strategy_change_req_by_admin'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Strategy Change Request by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_techb_and_flier_approved_by_adminPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_techb_and_flier_approved_by_admin'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Techb And Flier Approved by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_techb_and_flier_approved_by_scientistPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_change_req_by_scientist'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Techb And Flier Approved by Scientist</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewstartegy_implementedPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'strategy_implemented'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Strategy Implemented</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewTta_interest_receivedPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_interest_received'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTA Interest Received</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="" *ngIf="canViewRoles">
                <a routerLink="./roles" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Roles</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>

              <li class="" *ngIf="canViewusers">
                <a routerLink="./users" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Users</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <!-- <li class="" >
                  <a routerLink="./reminder" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                      <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Reminder</span>
                      <span class="pcoded-mcaret"></span>
                  </a>
              </li> -->
              <li class="" *ngIf="canViewPatent">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Patent</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewTrademark">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Trademark</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewDesign">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Design</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewCopyright">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Copyright</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewPlantvarity">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Plant Variety</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewOtherservices">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Other Services</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewReport">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Reports</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="pcoded-hasmenu" *ngIf="canViewMou">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">MOU</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu fontWeight">
                  <li class=" " *ngIf="canviewMou_initPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'init'}">
                      <span class="pcoded-micon"><i class="ti-layers"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">INIT</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewMou_pendingPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'mou_pending'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Pending</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewMou_proposed_by_adminPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'mou_proposed_by_admin'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Proposed by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewMou_change_by_adminPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'mou_change_by_admin'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Change Req by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewMou_proposed_by_lmPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'mou_porposed_by_lm'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Proposed by LM</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewagreementsignedPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'agreementsigned'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Agreement Signed</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewMou_accepted_by_clientPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'mou_accepted_by_client'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Accepted by Client</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewbdoassignedPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'bodassigned'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">BDO Assigned</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewtto_required_aproved_Permission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'tto_req_approved'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTO Req Approved</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" " *ngIf="canviewip_manager_assignedPermission">
                    <a class="waves-effect waves-dark" routerLink='bcil-table' [queryParams]="{type:'ipm_assigned'}">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">IPM Assigned</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                </ul>
              </li>

            </ul>
            <div class="dummyHeight"></div>
          </div>
        </nav>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

