.show-notification{
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.disabled{
    background-color:#f1f1f1;
}
.matapp{
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
}
