<!-- <p>bcil works!</p> -->
<div class="theme-loader">
  <div class="loader-track">
      <div class="preloader-wrapper">
          <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div>
              <div class="gap-patch">
                  <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>
          <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div>
              <div class="gap-patch">
                  <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>
        
          <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div>
              <div class="gap-patch">
                  <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>
        
          <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div>
              <div class="gap-patch">
                  <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-header></app-header>

<div id="pcoded" class="pcoded" >
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="javascript:void(0)">
            <i class="ti-menu blackMenu"></i>
          </a>
          <div class="mobile-search waves-effect waves-light">
            <div class="header-search">
              <div class="main-search morphsearch-search">
                <div class="input-group">
                  <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                  <input type="text" class="form-control" placeholder="Enter Keyword">
                  <span class="input-group-addon search-btn"><i class="ti-search blackMenu"></i></span>
                </div>
              </div>
            </div>
          </div>
          <!-- <a href="index.html">
              <img class="img-fluid" src="assets/images/bcils_logos_d.jpg" alt="Theme-Logo" />
          </a> -->
          <a class="mobile-options waves-effect waves-light">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li>
              <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
            </li>
            <!-- <li class="header-search">
                <div class="main-search morphsearch-search">
                    <div class="input-group">
                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon search-btn"><i class="ti-search blackMenu"></i></span>
                    </div>
                </div>
            </li> -->
            <li>
              <a href="javascript:toggleFullScreen()" class="waves-effect waves-light">
                <i class="ti-fullscreen blackMenu" ></i>
              </a>
            </li>
          </ul>
          <ul class="nav-right">
            <li class="header-notification" (click)="notificationtoogle()">
              <a href="javascript:void(0)" class="waves-effect waves-light">
                <i class="ti-bell blackMenu"></i>
                <span *ngIf="doticon" [ngClass]="{'bg-c-red shadowColor badge':notify==true,'info':notify==false}"></span>
              </a>

              <ul class="show-notification" *ngIf="notify">
                <li>
                  <h6>Notifications</h6>
                  <label class="label label-danger">New <span class="badge badge-light">{{notificationcount}}</span></label>
                </li>

                <li class="waves-effect waves-light" *ngFor="let n of noticfy_class;let i=index" [ngClass]="{'disabled':n.active==false}">
                <div class="media" >
                    <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="notification-user">{{n.user}}<span *ngIf="n.active" class="float-right badge badge-light">{{n.remindercategory}}</span></h5>
                      <p class="notification-msg" [innerHtml]="n.message"></p>
                      <p><a (click)="urlclick(n)">Click Here</a>  <span class="notification-time">{{n.createdOn  |date:'medium'}}</span></p>
                     
                      
                    
                   
                    </div>

                
                </div>
                <!-- <a (click)="otherpermission()" href="javascript:;" class="p-3 btn-link"> <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'loading...' : 'Other Permission'}}</a>|  <a (click)="selectAll()" href="javascript:;" class="p-3 btn-link">SelectAll</a>|<a (click)="selectNone()" href="javascript:;" class="p-3 btn-link">SelectNone</a>
              -->
             
                </li>
               
                     
              </ul>
            
            </li>
            <li class="user-profile header-notification" (click)="toggle()">
              <a href="javascript:{}" class="userName">
                <img *ngIf="userimg==''" src="assets/images/avatar-4.jpg"  class="img-radius" alt="User-Profile-Image">
                <img *ngIf="userimg!=''" src="{{getbaseurl}}/{{userimg}}" class="img-radius" alt="User-Profile-Image">
                <span>{{usertype}}</span>
                <i class="ti-angle-down"></i>
              </a>
              <ul class="show-notification profile-notification ">

                <li class="waves-effect waves-light">
                  <a routerLink="./user-profile">
                    <i class="ti-user"></i> Profile
                  </a>
                </li>
                <li class="waves-effect waves-light" *ngIf="isAdmin">
                  <a routerLink="../bcil/bcil-notification-table">
                    <i class="ti-bell"></i>All Notification
                  </a>
                </li>


                <li class="waves-effect waves-light">
                  <a href="javascript:void(0)" (click)="logout()">
                    <i class="ti-layout-sidebar-left"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
          <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu">
            <div class="">
              <div class="main-menu-header">
                <img class="img-80 img-radius" *ngIf="userimg==''" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
                <img class="img-80 img-radius" *ngIf="userimg!=''" src="{{getbaseurl}}/{{userimg}}" alt="User-Profile-Image">
                <div class="user-details" (click)="usertoggle()">
                  <span id="more-details">{{UserName}}<i class="fa fa-caret-down"></i></span>
                </div>
              </div>

              <div class="main-menu-content">
                <ul>
                  <li class="more-details">
                    <a routerLink="./user-profile"><i class="ti-user"></i>View Profile</a>
                    <a (click)="logout()" class="btn-link"><i class="ti-layout-sidebar-left"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="p-15 p-b-0">
                <form class="form-material">
                    <div class="form-group form-primary">
                        <input type="text" name="footer-email" class="form-control" required="">
                        <span class="form-bar"></span>
                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Search Item</label>
                    </div>
                </form>
            </div> -->
            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation"></div>
            <!-- <ul class="pcoded-item pcoded-left-item" >
              <li class="active index.html">
                <a routerLink="../bcil/bcil-dashboard" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-home"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Dashboard</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
             
              <li class="" *ngIf="canViewRoles">
                <a routerLink="./roles" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Roles</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>

              <li class="" *ngIf="canViewusers">
                <a routerLink="./users" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Users</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewReminder">
                  <a routerLink="./reminder" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                      <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Reminder</span>
                      <span class="pcoded-mcaret"></span>
                  </a>
              </li>
             
              
              <ng-container *ngFor="let menu of menulist">
              <li class="" *ngIf="menu?.submenu==false" >
                <a routerLink='../{{menu.url}}' class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">{{menu.menuheading}}</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="pcoded-hasmenu" *ngIf="menu?.submenu==true" >
                <a href="javascript:void(0)"  class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">{{menu.menuheading}}</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu fontWeight">
                 
                <ng-container *ngFor="let submenu of submenus(menu?.stage)">
               
                  <li class="" *ngIf="submenu?.menu==false" (click)="submenu?.subchild==undefined?menuurl(menu?.url,menu?.stage,submenu?.type):''" >
                    <a   class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.main">{{submenu?.heading==undefined?submenu?.menuheading:submenu?.heading}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu" *ngIf="submenu?.menu==true"  >
                    <a href="javascript:void(0)"  class="waves-effect waves-dark" >
                      <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                      <span class="pcoded-mtext"  data-i18n="nav.dash.main">{{submenu?.heading==undefined?submenu?.menuheading:submenu?.heading}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu fontWeight" >
                      <ng-container  *ngFor="let submenu of subchildmenus(submenu?.stage,submenu?.substage,'')">
                      <li class="" *ngIf="submenu?.menu==false">
                        <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_additional_info_needed'}">
                          <span class="pcoded-micon"><i class="ti-layers"></i></span>
                          <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">{{submenu?.heading}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                      </li>
                      <li class="pcoded-hasmenu" *ngIf="submenu?.menu==true"  >
                        <a href="javascript:void(0)"  class="waves-effect waves-dark" >
                          <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                          <span class="pcoded-mtext"  data-i18n="nav.dash.main">{{submenu?.heading}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu fontWeight"  >
                          <ng-container  *ngFor="let submenu1 of subchildmenus(submenu?.stage,submenu?.substage,'child')">
                          <li class="" >
                            <a class="waves-effect waves-dark" routerLink='bcil-tta-table' [queryParams]="{type:'tta_additional_info_needed'}">
                              <span class="pcoded-micon"><i class="ti-layers"></i></span>
                              <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">{{submenu1?.heading}}</span>
                              <span class="pcoded-mcaret"></span>
                            </a>
                          </li>
                        </ng-container>
                        </ul>
                      </li>
                    </ng-container>
                    </ul>
                  </li>
                
              

              </ng-container>
            </ul>
                  </li>
                </ng-container>
            </ul> -->
            <ul class="pcoded-item pcoded-left-item" >
              <li class="active index.html">
                <a routerLink="../bcil/bcil-dashboard" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-home"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Dashboard</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
             
              <li class="" *ngIf="canViewRoles">
                <a routerLink="./roles" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Roles</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>

              <li class="" *ngIf="canViewusers">
                <a routerLink="./users" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Users</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="" *ngIf="canViewReminder">
                  <a routerLink="./reminder" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                      <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Reminder</span>
                      <span class="pcoded-mcaret"></span>
                  </a>
              </li>
             
            <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
          </ul>
            <div class="dummyHeight"></div>
          </div>
        </nav>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

