<div class="modal fade" bsModal #editorModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" >
    <div class="modal-dialog modal-lg" style="max-height: 600px;
    overflow: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{array?.tablename}}</h4>
                <button type="button" class="close float-right" title="Close" (click)="editorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="ForwardForm">

                <div class="form-group row" *ngIf="activebtn?.form?.lmassigned">
                  <div class="col-sm-12">
                    <label class="col-form-label">Select Legal Manager</label>

                    <select type="text" class="form-control" formControlName="assigntolm" [ngClass]="{ 'is-invalid': submitted && f.assigntolm.errors }"  [(ngModel)]="selectedlm">
                      <option value="" selected>--select--</option>
                      <option *ngFor="let data of rowslm" value="{{data.id}}">{{data.userName}}</option>

                    </select>


                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Subject</label>
                    <input type="text" class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                    <p *ngIf="submitted && f.subject.errors" class="invalid-feedback">Subject is required</p>
                           

                  </div>
                </div>
                <div class="form-group row" *ngIf="activebtn?.form?.typeflied">
                  <div class="col-sm-12">
                    <label class="col-form-label">Type</label>
                    <select type="text" class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                      <option value="">Choose</option>
                      <option value="MOU">MOU</option>
                      <option value="NDA">NDA</option>
                      <option value="Work Order">Work Order</option>
                      <option value="Others">Others</option>
                    </select>


                  </div>
                </div>
                <div class="form-group row" *ngIf="activebtn?.form?.bdoassigned">
                    <div class="col-sm-12">
                      <label class="col-form-label">BDM</label>
                      <select type="text" class="form-control" name="assigntobdo" formControlName="assigntobdo" [(ngModel)]="selectedbdm">
                        <option value="" selected>--select--</option>
                        <option *ngFor="let user of rowsbdm" value="{{user.id}}">{{user.userName}}</option>
                        <!-- <option value="MOU">MOU</option>
                        <option value="NDA">NDA</option>
                        <option value="Work Order">Work Order</option>
                        <option value="Others">Others</option> -->
                      </select>
  
  
                    </div>
                  </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Remarks</label>
                    <textarea type="text" class="form-control" formControlName="remarks" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }">
                                </textarea>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <label class="col-form-label">Upload</label>
                    <input type="file" accept="*" class="form-control" (change)="fileChangeEvent($event)" />
                    <input type="hidden" name="files" formControlName="files" /> 
                    <p *ngIf="submitted && f.files.errors" class="invalid-feedback">File is required</p>
                  
                    <span class="text-danger float-right">*For multiple files, please compress and upload.(zip format)</span>

                  </div>
                </div>

                <div class="form-group row"  *ngIf="activebtn?.form?.reminder">
<div class="col-sm-6"> 
    <label class="col-form-label">Default Reminder</label>
    <input type="radio" class="form-control" name="remindertype" value="default"  formControlName="remindertype" (change)="reminderchange('default')"/>
 
</div>
    <div class="col-sm-6"> 
        <label class="col-form-label">Custom Reminder</label>
        <input type="radio" class="form-control" name="remindertype" value="custom" formControlName="remindertype" (change)="reminderchange('custom')"/>
           
                  </div>
                </div>
                 <div class="form-group row"  *ngIf="activebtn?.form?.reminder">
                    <app-reminder *ngIf="customrem" [customrem]="customrem" [appref]="appref" [type]="type" style="width:100%"></app-reminder>
                 </div>

                
                   
              

                <div class="form-group row">
                  <div class="col-sm-6">
                    <!-- <button type="submit"
                            class="btn btn-success"
                            (click)="uploadFile()">
                      Upload File
                    </button> -->
                    <button type="submit" class="btn btn-success"  (click)="uploadFile()" [disabled]="loading">
                        <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'Saving...' : 'Save'}}
                      </button>
                  </div>
                  

                </div>


              </form>
                <!-- <ul class="list-unstyled">
                    <li *ngFor="let role of rows"><input type="checkbox" name="checkbox-{{role.name}}" [disabled]="!canManageRoles" [(ngModel)]="selectedValues1[role.id+uservalue]" />{{role.name}}</li>
                </ul>
                <button type="button" [ngClass]="!canManageRoles ? 'd-none': ''" [disabled]="!canManageRoles" (click)="addrolepermissionsubmit()" class="btn btn-sm btn-outline-primary"><i class="fa fa-save"></i> Submit</button> -->

            </div>
        </div>
    </div>
  </div>