
                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Dashboard</h5>
                                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                      <!-- Main-body start -->
                      <div class="main-body">
                          <div class="page-wrapper">
                            
                              <!-- Page body start -->
                              <div class="page-body">                                        
                                  <div class="row categoryList">
                                      <div class="col-sm-12">
                                      <!-- Basic Form Inputs card start -->
                                          <div class="row">
                                          <!-- task, page, download counter  start -->
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewTechnologytransfer">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-blue">Technology Transfer</h4>
                                                                      <h6 class="text-muted m-b-0">394049</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-bar-chart f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-blue">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>                                                              
                                                                  </div>
                                                              </div>            
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div>
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewPatent">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-green">Patent</h4>
                                                                      <h6 class="text-muted m-b-0">5345324</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-file-text-o f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-green">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div>
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewTrademark">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-red">Trademark</h4>
                                                                      <h6 class="text-muted m-b-0">44325435</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-registered f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-red">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div>
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewDesign">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-purple">Design</h4>
                                                                      <h6 class="text-muted m-b-0">45435</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-paint-brush f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-purple">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div>
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewCopyright">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-yellow">Copyright</h4>
                                                                      <h6 class="text-muted m-b-0">4578435</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-copyright f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-yellow">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div>
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewPlantvarity">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-dark-orange">Plant Variety</h4>
                                                                      <h6 class="text-muted m-b-0">4545435</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-pagelines f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-dark-orange">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div>
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewOtherservices">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-dark-pink">Other Services</h4>
                                                                      <h6 class="text-muted m-b-0">4545435</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-cogs f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-dark-pink">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div>
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewReport">
                                                  <a href="#">
                                                      <div class="card">
                                                          <div class="card-block">
                                                              <div class="row align-items-top">
                                                                  <div class="col-8">
                                                                      <h4 class="text-c-dark-green">Reports</h4>
                                                                      <h6 class="text-muted m-b-0">7787885</h6>
                                                                  </div>
                                                                  <div class="col-4 text-right">
                                                                      <i class="fa fa-file-excel-o f-28"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="card-footer bg-c-dark-green">
                                                              <div class="row align-items-center">
                                                                  <div class="col-9">
                                                                      <p class="text-white m-b-0">View</p>
                                                                  </div>
                                                                  <div class="col-3 text-right">
                                                                      <i class="fa fa-arrow-right text-white f-16"></i>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </a>                                                
                                              </div> 
                                              <div class="col-xl-3 col-md-6" *ngIf="canViewMou">
                                                <a routerLink="../mou-dashboard">
                                                    <div class="card">
                                                        <div class="card-block">
                                                            <div class="row align-items-top">
                                                                <div class="col-8">
                                                                    <h4 class="text-c-dark-green">Mou</h4>
                                                                    <h6 class="text-muted m-b-0">8887885</h6>
                                                                </div>
                                                                <div class="col-4 text-right">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer bg-c-dark-green">
                                                            <div class="row align-items-center">
                                                                <div class="col-9">
                                                                    <p class="text-white m-b-0">View</p>
                                                                </div>
                                                                <div class="col-3 text-right">
                                                                    <i class="fa fa-arrow-right text-white f-16"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>                                                
                                            </div>                                           
                                          </div>
                                      <!-- Basic Form Inputs card end -->
                                      </div>
                                  </div>
                              </div>
                          <!-- Page body end -->
                          </div>
                      </div>
                      <!-- Main-body end -->
                      
              </div>
       <app-footer></app-footer>
                  </div>
             
