<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">MOU</h5>
                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">MOU</a>
                        </li>
                        <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    
                    <!-- Hover table card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>View Applications</h5>
                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-trash close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                       
<div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table table-hover" *ngIf="showpage">
        <thead>
          <tr>
            <th>#</th>
            <th  *ngIf="stage!='mou'">App No</th>
            <th  *ngIf="stage!='mou'">Subject</th>
            <th *ngIf="stage=='mou'">Institute</th>
            <th  *ngIf="stage=='mou'">Dept. Name</th>
            <th  *ngIf="stage=='mou'">Phone No.</th>
            <th  *ngIf="stage=='mou'">Director Name</th>
            <th  *ngIf="stage=='mou'">Director Mobile</th>
<th *ngIf="isSuperAdmin">Active Users</th>
            <th>Action</th>
           <th *ngIf="stage=='client_invoice' || stage=='luf_invoice'">View</th>
           <th>Stage Toggle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mouModel;let i=index;">
            <th scope="row">{{i+1}}</th>
            <th  *ngIf="stage!='mou'">{{item?.appno}}</th>
            <td  *ngIf="stage!='mou'">{{item?.subject}}</td>
            <td  *ngIf="stage=='mou'">{{item.int_Uni_Name}}</td>
            <td  *ngIf="stage=='mou'">{{item.dept_Name}}</td>
            <td  *ngIf="stage=='mou'">{{item.phoneNo}}</td>
            <td  *ngIf="stage=='mou'">{{item.dir_Head_Name}}</td>
            <td  *ngIf="stage=='mou'">{{item.dir_Mobile_No}}</td>
            <td *ngIf="isSuperAdmin"> <button class="btn btn-info" (click)="activeuser(item)">Active Users</button></td>
            <td ><button class="btn btn-info" (click)="additionfile(item)">Additional file</button></td>
            <td *ngIf="stage=='client_invoice' || stage=='luf_invoice'"><button class="btn btn-info" (click)="viewform(item)">View</button></td>
           <td></td>
            <!-- <td>
              <button value="back" *ngIf="activearray?.back && permissionbutton1" title="{{activearray?.backtitle}}" class="btn btn-primary" (click)="onmodalclick($event.target.value,item)">{{activearray?.backbuttonText}}</button>
              <button value="forword" *ngIf="activearray?.forwardCheck && permission" title="{{activearray?.forwordtitle}}" class="btn btn-success ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.forwardText}}</button>
              <button value="approve" *ngIf="activearray?.approved" title="{{activearray?.approvetitle}}"   approvetitle class="btn btn-info ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.approvedText}}</button>

            </td>
            <td *ngIf="viewhistory"><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'mou',refid:item.refid}">View</a></td>
<td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td>
<td *ngIf="viewadditionfile"><button class="btn btn-info" (click)="additionfile(item)">Additionfile</button></td> -->
          </tr>
        </tbody>
      </table>


      
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <app-footer></app-footer>
  </div>
  <app-addition-file></app-addition-file>
   <app-luf-invoice></app-luf-invoice>
    <app-client-invoice></app-client-invoice>

    <div class="modal fade" bsModal #editorModal3="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" >
        <div class="modal-dialog modal-lg" style="max-height: 600px;
        overflow: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Active User</h4>
                    <button type="button" class="close float-right" title="Close" (click)="editorModal3.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" *ngIf="showpage">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Active User</th>
                            <th>UserRole</th>
                            <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of activeuserModel;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{user?.username}}</td>
                                    <td>{{user?.userrole}}</td>
                                    <td *ngIf="user?.active==true"><button class="btn btn-sm btn-success">Active</button></td>
                                    <td *ngIf="user?.active==false"><button class="btn btn-sm btn-danger">Disable</button></td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div class="modal fade" bsModal #editorModal4="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" >
                        <div class="modal-dialog modal-lg" style="max-height: 600px;
                        overflow: auto;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Boolean Check</h4>
                                    <button type="button" class="close float-right" title="Close" (click)="editorModal4.hide()">
                              <span aria-hidden="true">&times;</span>
                            </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-hover" *ngIf="showpage">
                                        <thead>
                                          <tr>
                                            <th>#</th>
                                            <th>Stage</th>
                                            <th>Action</th>
                                           
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let bl of booleanlist;let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{bl?.stage}}</td>
                                                    <td><button class="btn btn-sm btn-success">Submit</button></td>
                                                     </tr>
                                            </tbody>
                                            </table>
                                </div>
                            </div>
                            </div>
                            </div>

