<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
    <app-header></app-header>
        <div class="pcoded-content">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Profile</h5>
                                <!-- <p class="m-b-0">MOU Form</p> -->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a routerLink="/"> <i class="fa fa-home"></i> </a>
                                </li>
                                <!-- <li class="breadcrumb-item"><a href="#!">MOU</a>
                                </li> -->
                                <li class="breadcrumb-item"><a href="#!">Profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">

                        <!-- Page body start -->
                        <div class="page-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- Basic Form Inputs card start -->
                                   
                                        <app-user-info></app-user-info>
                                    
                                        </div>
                                        </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                                <app-footer></app-footer>
                            </div>
                        </div>
                        </div>

