<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">Technology Transfer</h5>
            <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="index.html"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#!">TTA</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <!-- Page body start -->
        <div class="page-body">

          <div class="row categoryList mouList ">
            <div class="col-md-12 text-center" *ngIf="isNodal || isScientist">
                            <div class="addMou">
                                <a (click)="createactivity()">{{array.tablename}}</a>
                            </div>                                            
                        </div>
                     
            <div class="col-sm-12">
              
              <div *ngIf="isSuperAdmin">
                <div class="col-sm-12">
                  <div class="addMou">
                  <a routerLink="../mou-application" [queryParams]="{ stage: 'tta'}" style="float:right">View TTA</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
              <accordion  [closeOthers]="oneAtATime" [isAnimated]="true"  *ngIf="isSuperAdmin">
               
                <accordion-group *ngFor="let row of roles;let i=index;" heading="{{row.name}}" (click)="rolesclick(row)">
                  <div class="row" >
                    <ng-container *ngFor="let tta of ttadata;let index=i;">
                      <div class="col-xl-3 col-md-6" >
                                          
                        <div class="card">
                            <div class="card-block">
                                <div class="row align-items-top">
                                    <div class="col-12">
                                      <h4 class="text-c-{{tta.color}}">{{tta.heading}}</h4>
                                        <h6 class="text-muted m-b-0">{{ttaListFilter(tta.value)}}</h6>
                                    </div>
                                    <!-- <div class="col-4 text-right">
                                        <i class="fa fa-bar-chart f-28"></i>
                                    </div> -->
                                </div>
                            </div>
                            <a (click)="queryparam(tta)">
                            <div class="card-footer bg-c-{{tta.color}}">
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <p class="text-white m-b-0">View</p>
                                    </div>
                                    <div class="col-3 text-right">
                                        <i class="fa fa-arrow-right text-white f-16"></i>                                                              
                                    </div>
                                </div>            
                            </div>
                          </a>
                        </div>
                                                             
                </div>
              </ng-container>
        
              
           

              </div>
              
                </accordion-group>
             </accordion>
            
              <!-- Basic Form Inputs card start -->
              <div class="row" *ngIf="!isSuperAdmin">
                <div class="col-sm-12">
                  <div class="addMou">
                  <a routerLink="../mou-application" [queryParams]="{ stage: 'tta'}" style="float:right" class="mb-5">View TTA</a>
                  </div>
              </div>
              <ng-container *ngFor="let tta of ttadata;let index=i;">
              <div class="col-xl-3 col-md-6" >
                                  
                <div class="card">
                    <div class="card-block">
                        <div class="row align-items-top">
                            <div class="col-12">
                              <h4 class="text-c-{{tta.color}}">{{tta.heading}}</h4>
                                <h6 class="text-muted m-b-0">{{ttaListFilter(tta.value)}}</h6>
                            </div>
                            <!-- <div class="col-4 text-right">
                                <i class="fa fa-bar-chart f-28"></i>
                            </div> -->
                        </div>
                    </div>
                    <a (click)="queryparam(tta)">
                    <div class="card-footer bg-c-{{tta.color}}">
                        <div class="row align-items-center">
                            <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                                <i class="fa fa-arrow-right text-white f-16"></i>                                                              
                            </div>
                        </div>            
                    </div>
                  </a>
                </div>
                                                     
        </div>
      </ng-container>


                <!-- task, page, download counter  start -->
               
              </div>
              <!-- Basic Form Inputs card end -->
            </div>
          </div>
        
          </div>
        </div>
        <!-- Page body end -->
      </div>
    </div>
    <!-- Main-body end -->
    <!-- <div id="styleSelector">

    </div> -->
  
  <app-footer></app-footer>
</div>
<app-activity [array]="array"></app-activity>