<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">Technology Transfer</h5>
            <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="index.html"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#!">MOU</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <!-- Page body start -->
        <div class="page-body">

          <div class="row categoryList mouList ">
            <div class="col-sm-12">
              <div *ngIf="isSuperAdmin" class="ttDashAccod">
              <accordion *ngFor="let row of roles;let i=index;">
               
                <accordion-group heading="{{row.name}}" (isOpenChange)="log(row)">
                  <div class="row" >
                    <ng-container  *ngFor="let tta of fitertta(userperttaall,row)">
                  <div class="col-xl-3 col-md-6" >
                    
                      <div class="card">
                        <div class="card-block">
                          <div class="row align-items-top">
                            <div class="col-12">
                              <h4 class="text-c-blue">{{tta.tablename}}</h4>
                              <h6 class="text-muted m-b-0">{{clientMouListFilter(tta.value)}}</h6>
                            </div>
                            <!-- <div class="col-4 text-right">
                  <i class="fa fa-bar-chart f-28"></i>
              </div> -->
                          </div>
                        </div>
                        <a (click)="querypara(tta.name)">
                          <div class="card-footer bg-c-blue">
                            <div class="row align-items-center">
                              <div class="col-9">
                                <p class="text-white m-b-0">View</p>
                              </div>
                              <div class="col-3 text-right">
                                <i class="fa fa-arrow-right text-white f-16"></i>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                  
                  </div>
                </ng-container>

                <div class="col-xl-3 col-md-6" *ngIf="fitertta(userpertlpall,row)==0?false:true">
                  <a routerLink="../tlp-dashboard">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-8">
                            <h4 class="text-c-yellow">Technology Leads To Package Shared</h4>
                            <h6 class="text-muted m-b-0">{{tlplist()}}</h6>
                          </div>
                          <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                          <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                          </div>
                          <div class="col-3 text-right">
                            <i class="fa fa-arrow-right text-white f-16"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="fitertta(userpernttsall,row)==0?false:true">
                  <a routerLink="../nttsa-dashboard">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-8">
                            <h4 class="text-c-dark-blue">NDA to term sheet approval</h4>
                            <h6 class="text-muted m-b-0">{{nttsalist()}}</h6>
                          </div>
                          <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-dark-blue">
                        <div class="row align-items-center">
                          <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                          </div>
                          <div class="col-3 text-right">
                            <i class="fa fa-arrow-right text-white f-16"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="fitertta(userpertstlall,row)==0?false:true">
                  <a routerLink="../tstl-dashboard">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-8">
                            <h4 class="text-c-dark-green">Term sheet to Licensing</h4>
                            <h6 class="text-muted m-b-0">{{tstllist()}}</h6>
                          </div>
                          <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-dark-green">
                        <div class="row align-items-center">
                          <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                          </div>
                          <div class="col-3 text-right">
                            <i class="fa fa-arrow-right text-white f-16"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
              
                </accordion-group>
             </accordion>
            </div>
              <!-- Basic Form Inputs card start -->
              <div class="row" *ngIf="!isSuperAdmin">
                <!-- task, page, download counter  start -->
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_upload_assign_tech_disclosure_formPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">{{cardname('S108')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S108')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'ViewMouAll'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_initPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-green">{{cardname('S113')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S113')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_init'}">
                        <div class="card-footer bg-c-green">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_evaluation_assignedPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-yellow">{{cardname('S114')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S114')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_evaluation_assigned'}">
                        <div class="card-footer bg-c-yellow">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_evaluation_upload_by_bdmPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-purple">{{cardname('S115')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S115')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_evaluation_uploaded_by_bdm'}">
                        <div class="card-footer bg-c-purple">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_evaluation_closure_by_adminPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-red">{{cardname('S116')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S116')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_evaluation_closure_by_admin'}">
                        <div class="card-footer bg-c-red">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_evaluation_approved_by_adminPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-green">{{cardname('S117')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S117')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_evaluation_approved_by_admin'}">
                        <div class="card-footer bg-c-dark-green">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_evaluation_change_request_by_adminPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">{{cardname('S118')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S118')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_evaluation_change_req_by_admin'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_Closure_request_by_bdmPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-orange">{{cardname('S119')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S119')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_closure_requested_by_bdm'}">
                        <div class="card-footer bg-c-dark-orange">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_closePermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-red">{{cardname('S120')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S120')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_closed'}">
                        <div class="card-footer bg-c-red">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>


                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_evaluation_change_request_by_clientPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-blue">{{cardname('S121')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S121')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_evaluation_change_req_by_client'}">
                        <div class="card-footer bg-c-dark-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_evaluation_accepted_by_clientPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-green">{{cardname('S122')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S122')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_evaluation_accepted_by_client'}">
                        <div class="card-footer bg-c-dark-green">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_strategy_assignedPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-pink">{{cardname('S123')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S123')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_strategy_assigned'}">
                        <div class="card-footer bg-c-dark-pink">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_strategy_uploaded_by_bdmPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-yellow">{{cardname('S124')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S124')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_strategy_uploaded_by_bdm'}">
                        <div class="card-footer bg-c-yellow">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>


                <div class="col-xl-3 col-md-6" *ngIf="canviewtta_strategy_change_request_by_adminPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-blue">{{cardname('S125')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S125')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_strategy_change_req_by_admin'}">
                        <div class="card-footer bg-c-dark-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_techb_and_flier_approved_by_adminPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-green">{{cardname('S126')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S126')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_techb_and_flier_approved_by_admin'}">
                        <div class="card-footer bg-c-green">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_techb_and_flier_approved_by_scientistPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-green">{{cardname('S127')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S127')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_techb_and_flier_approved_by_scientist'}">
                        <div class="card-footer bg-c-green">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>


                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_chnage_req_by_scientistPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">{{cardname('S128')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S128')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='bcil-tta-table' [queryParams]="{type:'tta_change_req_by_scientist'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="canviewstartegy_implementedPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">{{cardname('S129')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S129')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'strategy_implemented'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>


                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_interest_receivedPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">{{cardname('S130')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S130')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_interest_received'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6" *ngIf="canviewTta_no_interest_receivedPermission">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">{{cardname('S131')}}</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S131')}}</h6>
                          </div>

                        </div>
                      </div>
                      <a routerLink='../bcil-tta-table' [queryParams]="{type:'tta_no_interest_received'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="userpertlp.length==0?false:true">
                  <a routerLink="../tlp-dashboard">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-8">
                            <h4 class="text-c-yellow">Technology Leads To Package Shared</h4>
                            <h6 class="text-muted m-b-0">{{tlplist()}}</h6>
                          </div>
                          <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-yellow">
                        <div class="row align-items-center">
                          <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                          </div>
                          <div class="col-3 text-right">
                            <i class="fa fa-arrow-right text-white f-16"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="userperntts.length==0?false:true">
                  <a routerLink="../nttsa-dashboard">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-8">
                            <h4 class="text-c-dark-blue">NDA to term sheet approval</h4>
                            <h6 class="text-muted m-b-0">{{nttsalist()}}</h6>
                          </div>
                          <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-dark-blue">
                        <div class="row align-items-center">
                          <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                          </div>
                          <div class="col-3 text-right">
                            <i class="fa fa-arrow-right text-white f-16"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6" *ngIf="userpertstl.length==0?false:true">
                  <a routerLink="../tstl-dashboard">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-8">
                            <h4 class="text-c-dark-green">Term sheet to Licensing</h4>
                            <h6 class="text-muted m-b-0">{{tstllist()}}</h6>
                          </div>
                          <div class="col-4 text-right">
                            <i class="fa fa-file-text-o f-28"></i>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer bg-c-dark-green">
                        <div class="row align-items-center">
                          <div class="col-9">
                            <p class="text-white m-b-0">View</p>
                          </div>
                          <div class="col-3 text-right">
                            <i class="fa fa-arrow-right text-white f-16"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
              <!-- Basic Form Inputs card end -->
            </div>
          </div>
        </div>
        <!-- Page body end -->
      </div>
    </div>
    <!-- Main-body end -->
    <!-- <div id="styleSelector">

    </div> -->
  </div>
  <app-footer></app-footer>
</div>
