<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">Term sheet to Licensing </h5>
            <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="index.html"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#!">MOU</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <!-- Page body start -->
        <div class="page-body">

          <div class="row categoryList mouList">
            <div class="col-sm-12">
              <!-- Basic Form Inputs card start -->
              <div class="row">
                <!-- task, page, download counter  start -->




                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">TS Executed</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S154')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'ts_executed'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA Entered by LUF</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S155')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_entered_by_luf'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA Change Request by Admin</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S156')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_change_req_by_admin'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA Approved by Admin</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S157')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_approved_by_admin'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA Change Request by Client</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S158')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_change_req_by_client'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA Approved by Client</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S159')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_approved_by_client'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA shared with Company</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S160')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_shared_with_company'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA Approved by Company</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S161')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_approved_by_company'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>


                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">LA Uploaded</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S162')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'la_uploaded'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">TT Docket by Client</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S163')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'tt_docket_by_client'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">TT Docket shared with Company</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S164')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-tstl-table' [queryParams]="{type:'tt_docket_shared_with_company'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>



              </div>
              <!-- Basic Form Inputs card end -->
            </div>
          </div>
        </div>
        <!-- Page body end -->
      </div>
    </div>
    <!-- Main-body end -->
    <!-- <div id="styleSelector">

    </div> -->
  </div>
  <app-footer></app-footer>
</div>
