<div>
    <form  [formGroup]="ReminderInfoForm" >
  
          <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-form-label col-md-3" for="roleName">Stage Name</label>
                    
                    <div class="col-md-9">
                      <label *ngIf="editmode" class="col-form-label col-md-3" for="roleName">{{stagetext}}</label>
                        <select *ngIf="!editmode"  class="form-control"  formControlName="stage" >
                          <option value=''>Choose</option>
                          <option *ngFor="let st of StatusMaster" value="{{st.status_code}}">{{st.status_name}}--{{st.stagetype}}</option>
                        </select>
                        <p   *ngIf="submitted && f.stage.errors && !editmode ||customrem==false" class="invalid-feedback">required</p>
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="roleName">Next Stage Name</label>
                  
                  <div class="col-md-9">
                    <label *ngIf="editmode" class="col-form-label col-md-3" for="roleName">{{nextstagetext}}</label>
                      <!-- <select *ngIf="!editmode"  class="form-control"  formControlName="nextstage" >
                        <option value=''>Choose</option>
                        <option *ngFor="let st of NextStatusMaster" value="{{st.status_code}}">{{st.status_name}}--{{st.stagetype}}</option>
                      </select> -->
                      <ng-select *ngIf="!editmode"  size="1" id="roles-user-info" name="nextstage" formControlName="nextstage"  [items]="NextStatusMaster" bindLabel="status_code" bindValue="status_code" [multiple]="true" [closeOnSelect]="false"
                      placeholder="Select "   class="form-control left-status pill-items" >
             <ng-template ng-label-tmp let-item="item" let-clear="clear">
               <span title='{{item.status_name}}' class='badge badge-pill badge-secondary'>{{item.status_name}}--{{item.stagetype}}<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span></span>
             </ng-template>
   
             <ng-template ng-option-tmp let-item="item">
               <span title='{{item.status_name}}' class='badge badge-pill badge-secondary'>{{item.status_name}}--{{item.stagetype}}</span>
               <i class="fa fa-check d-none"></i>
             </ng-template>
           </ng-select>
                      <p   *ngIf="submitted && f.nextstage.errors && !editmode ||customrem==false" class="invalid-feedback">required</p>
                  </div>
              </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3" for="roleName">Deadline</label>
                  <div class="col-md-9">
                    <input type="text" value=""  class="form-control" formControlName="deadlineinputtime"/>
                    <p *ngIf="submitted && f.deadlineinputtime.errors" class="invalid-feedback">required</p>
                      <select  class="form-control" formControlName="deadlinetimetype" (change)="timetype($event.target.value,'deadline')">
                        <option>Choose</option>
                        <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
                      </select>
                      <p *ngIf="submitted && f.deadlinetimetype.errors" class="invalid-feedback">required</p>
                  </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3" for="roleName">Owner</label>
                <div class="col-md-9">
                  <label *ngIf="customrem==true" class="col-form-label col-md-3" for="roleName">{{userRoles}}</label>
                    <!-- <select  *ngIf="customrem==false"  class="form-control" formControlName="owner">
                      <option value="">Choose</option>
                      <option *ngFor="let rol of Role" value="{{rol.id}}">{{rol.name}}</option>
                    </select> -->
                    <ng-select  size="1"  name="owner" formControlName="owner" (change)="selectedowner($event)" [items]="Role" bindLabel="name" bindValue="id" [multiple]="true" [closeOnSelect]="false"
                    placeholder="Select "   class="form-control left-status pill-items" required>
           <ng-template ng-label-tmp let-item="item" let-clear="clear">
             <span title='{{item.name}}' class='badge badge-pill badge-secondary'>{{item.name}}<span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span></span>
           </ng-template>
 
           <ng-template ng-option-tmp let-item="item">
             <span title='{{item.name}}' class='badge badge-pill badge-secondary'>{{item.name}}</span>
             <i class="fa fa-check d-none"></i>
           </ng-template>
         </ng-select>
                    <p *ngIf="submitted && f.owner.errors" class="invalid-feedback">required</p>
                </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <input type="radio" #radio name="typereminder" value="1" formControlName="typereminder" (change)="radiochange('1')"/>
                
                <label class="col-form-label col-md-3" for="roleName">Lapse Reminder</label>
              </div>
              <div class="col-md-6">
                <input type="radio" #radio name="typereminder" value="2" formControlName="typereminder"  (change)="radiochange('2')"/>
                <label class="col-form-label col-md-3" for="roleName">DeadLine Reminder</label>
              </div>
              <p *ngIf="submitted && f.typereminder.errors" class="invalid-feedback">required</p>
              </div>
             
            <div class="form-group row"  *ngIf="tempsection=='1'">
            
              <div class="col-md-4">
                <label class="col-form-label col-md-3" for="roleName">Low Reminder</label>
                <input type="text" value=""  class="form-control" formControlName="lapselowreminputtime"/>
                  <select  class="form-control" formControlName="lapselowremtypetime" (change)="timetype($event.target.value,'lapselowrem')">
                    <option>Choose</option>
                    <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
                  </select>
                   
              </div>
              <div class="col-md-4">
                <label class="col-form-label col-md-3" for="roleName">Medium Reminder</label>
                <input type="text" value=""  class="form-control" formControlName="lapsemedreminputtime"/>
                  <select  class="form-control" formControlName="lapsemedremtypetime" (change)="timetype($event.target.value,'lapsemedrem')">
                    <option>Choose</option>
                    <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
                  </select>
                   
              </div>
              <div class="col-md-4">
                <label class="col-form-label col-md-3" for="roleName">High Reminder</label>
                <input type="text" value=""  class="form-control" formControlName="lapsehighreminputtime" (change)="timetype($event.target.value,'lapsehighrem')"/>
                  <select  class="form-control" formControlName="lapsehighremtypetime">
                    <option>Choose</option>
                    <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
                  </select>
                   
              </div>
          </div>
       
          <div class="form-group row"  *ngIf="tempsection=='2'">
          
            <div class="col-md-4">
              <label class="col-form-label col-md-3" for="roleName">Low Reminder</label>
              <input type="text" value=""  class="form-control" formControlName="deadlinelowreminputtime"/>
                <select  class="form-control" formControlName="deadlinelowremtypetime"  (change)="timetype($event.target.value,'deadlinelowrem')">
                  <option>Choose</option>
                  <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
                </select>
                 
            </div>
            <div class="col-md-4">
              <label class="col-form-label col-md-3" for="roleName">Medium Reminder</label>
              <input type="text" value=""  class="form-control" formControlName="deadlinemedreminputtime"/>
                <select  class="form-control" formControlName="deadlinemedremtypetime" (change)="timetype($event.target.value,'deadlinemedrem')">
                  <option>Choose</option>
                  <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
                </select>
                 
            </div>
            <div class="col-md-4">
              <label class="col-form-label col-md-3" for="roleName">High Reminder</label>
              <input type="text" value=""  class="form-control" formControlName="deadlinehighreminputtime" (change)="timetype($event.target.value,'deadlinehighrem')"/>
                <select  class="form-control" formControlName="deadlinehighremtypetime">
                  <option>Choose</option>
                  <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
                </select>
                 
            </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3" for="roleName">Repeat Reminder</label>
          <div class="col-md-9">
            <input type="text" value=""  class="form-control" formControlName="repeatreminputtime"/>
            <p *ngIf="submitted && f.repeatreminputtime.errors" class="invalid-feedback">required</p>
              <select  class="form-control" formControlName="repeatremtypetime" (change)="timetype($event.target.value,'repeatrem')">
                <option>Choose</option>
                <option *ngFor="let tm of timeing" value="{{tm}}">{{tm}}</option>
              </select>
              <p *ngIf="submitted && f.repeatremtypetime.errors" class="invalid-feedback">required</p>
          </div>
      </div>
      <div class="col-sm-12">
        <div ngPreserveWhitespaces class="float-right">
            <button  type="button" (click)="cancel()" class="btn btn-outline-secondary">Close</button>
            <button *ngIf="editmode" type="submit" (click)="edit()" class="btn btn-primary" [disabled]="isSaving">
              <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('Editing' ) : ('Edit' )}}
            </button>
            <button *ngIf="!editmode" type="submit" (click)="save()" class="btn btn-primary" [disabled]="isSaving">
              <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('Saving' ) : ('Save' )}}
            </button>
            </div>
      </div>
            </div>
            </div>
    </form>
</div>