<!-- <div>
    <form *ngIf="formResetToggle" name="reminderInfoForm" #f="ngForm" novalidate
          (ngSubmit)="">
  
      <div class="form-group row">
        <label [class.col-lg-3]="isViewOnly" [class.col-lg-2]="!isViewOnly" class="col-form-label" for="jobTitle-{{uniqueId}}">JobTitle</label>
       
        <div *ngIf="isEditMode" [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
          <input appAutofocus type="text" attr.id="jobTitle-{{uniqueId}}" name="jobTitle" placeholder="Enter Job Title" class="form-control" [(ngModel)]="userEdit.jobTitle" />
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-12">
          <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
        </div>
      </div>
    </form>
</div> -->