<div>
    <form *ngIf="formResetToggle" name="roleEditorForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
          (!roleName?.valid && showErrorAlert('Role name is required', 'Please enter a role name (minimum of 2 and maximum of 200 characters)'));">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group row">
                    <label class="col-form-label col-md-3" for="roleName">Name</label>
                    <div class="col-md-9">
                        <label *ngIf="editmode" class="col-form-label col-md-3" for="roleName">{{roleEdit.name}}</label>
                        
                        <input  [ngStyle]="{'display':!editmode?'block':'none'}" type="text" id="roleName" name="roleName" placeholder="Enter role name" class="form-control" [ngClass]="{'is-valid': f.submitted && roleName.valid, 'is-invalid' : f.submitted && !roleName.valid}" [(ngModel)]="roleEdit.name"
                            #roleName="ngModel" required minlength="2" maxlength="200" />
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="form-group row">
                    <label class="col-form-label col-md-3" for="roleDescription">Description</label>
                    <div class="col-md-9">
                        <input  type="text" id="roleDescription" name="roleDescription" placeholder="Enter role description" class="form-control" [(ngModel)]="roleEdit.description" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="!editmode">
            <div class="col-md-12">
                <span *ngIf="showValidationErrors && f.submitted && !roleName?.valid" class="invalid-feedback">
          Role Name is Required
        </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 card card-body bg-light well-sm permissionsRow">
                <div class="row">

                    <ng-template ngFor let-permissionGroup [ngForOf]="allPermissions | groupBy: 'groupName'" let-i="index">
                        <div class="form-group row col-sm-6 permissionsColumn">
                            <label class="col-md-5 col-form-label group-name" for="checkboxes" (click)="toggleGroup(permissionGroup.key)">{{permissionGroup.key}}</label>
                            <div class="col-md-7">
                                <div class="form-check" *ngFor="let permission of permissionGroup.value">
                                    <input  name="checkboxes-{{permission.value}}" id="checkboxes-{{permission.value}}" type="checkbox" class="form-check-input" [(ngModel)]="selectedValues[permission.value]">
                                    <label class="form-check-label" for="checkboxes-{{permission.value}}">{{permission.name}}</label><br/>
                                  </div>
                            </div>
                        </div>
                        <div *ngIf="(i + 1) % 2 === 0" class="clearfix"></div>
                    </ng-template>

                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-7">
                <div  class="float-left">
                    <a (click)="otherpermission()" href="javascript:;" class="p-3 btn-link">Other Permission</a>|  <a (click)="selectAll()" href="javascript:;" class="p-3 btn-link">SelectAll</a>|<a (click)="selectNone()" href="javascript:;" class="p-3 btn-link">SelectNone</a>
                </div>
            </div>

            <div class="col-sm-5">
                <div ngPreserveWhitespaces class="float-right">
                    <button *ngIf="!canManageRoles" type="button" (click)="cancel()" class="btn btn-outline-secondary">Close</button>
                    <button *ngIf="canManageRoles" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> Cancel</button>
                    <button *ngIf="canManageRoles" type="submit" class="btn btn-primary" [disabled]="isSaving">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('Saving' ) : ('Save' )}}
          </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="modal fade" bsModal #editorModal1="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{usertext}}</h4>
                <button type="button" class="close float-right" title="Close" (click)="editorModal1.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body" >
                <ul class="list-unstyled">
                    <li *ngFor="let role of rows"><input type="checkbox" name="checkbox-{{role.name}}" [disabled]="!canManageRoles" [(ngModel)]="selectedValues1[role.id+uservalue]" />{{role.name}}</li>
                </ul>
                <button type="button" [ngClass]="!canManageRoles ? 'd-none': ''" [disabled]="!canManageRoles" (click)="addrolepermissionsubmit()" class="btn btn-sm btn-outline-primary"><i class="fa fa-save"></i> Submit</button>

            </div>
        </div>
    </div>
</div>


<div>
    <div class="modal fade" bsModal #editorModal3="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
        <div class="modal-dialog modal-xl" style="bottom: 0px;
       
        position: absolute;height:600px;overflow-y: scroll; ">
          <div class="modal-content">
            <div class="modal-header">
              <h4> <i _ngcontent-vnn-c102="" class="fa fa-shield"></i>Permission</h4>
              <button type="button" class="close float-right" title="Close" (click)="editorModal3.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; ">
              <!-- <div class="col-12" >
                  <div class="col-2">{{sta.status_name}}</div>
                  <div class="col-2"><input type="checkbox" /></div>
              </div> -->
              <div class="card-block table-border-style">
                <div class="table-responsive">
                    <form [formGroup]="myForm">
                    <table class="table table-hover">
                  <thead>
                      <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let sta of StatusMaster">
                          <td>{{sta.status_name}}</td>
                          <td>{{sta.stagetype}}</td>
                          <td>
                            View<input type="checkbox" (change)="onChange('view',sta.status_code, $event.target.checked)" name="view-{{sta.status_code}}" checked="{{sta.check}}"/>
                             
                            Manage button<input type="checkbox" (change)="onChange('manage',sta.status_code, $event.target.checked)" name="manage-{{sta.status_code}}" checked="{{sta.check}}"/>
                             
                              History<input type="checkbox" (change)="onChange('history',sta.status_code, $event.target.checked)" name="history-{{sta.status_code}}" checked="{{sta.check}}"/>
                              Remarks<input type="checkbox" (change)="onChange('remark',sta.status_code, $event.target.checked)" name="remark-{{sta.status_code}}" value="remark-{{sta.status_code}}" checked="{{sta.check}}"/>
                              <!-- Email<input type="checkbox" (change)="onChange('email',sta.status_code, $event.target.checked)" name="email-{{sta.status_code}}" value="email-{{sta.status_code}}" checked="{{sta.check}}"/>
                            -->
                              <!-- Additionfile<input type="checkbox" (change)="onChange('addfile',sta.status_code, $event.target.checked)" name="addfile-{{sta.status_code}}" value="addfile-{{sta.status_code}}" checked="{{sta.check}}"/>
                             -->
                            </td>
                      </tr>
                  </tbody>
              </table>
<!-- <div>{{myForm.value | json}}</div> -->
              <button  type="submit" class="btn btn-primary" [disabled]="isSaving" (click)="permissionsubmit()">
                <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('Saving' ) : ('Save' )}}
              </button>
            </form>
              </div></div>
            </div>
          </div>
        </div>
      </div>

</div>