<div>
    <form *ngIf="formResetToggle" name="roleEditorForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
          (!roleName.valid && showErrorAlert('Role name is required', 'Please enter a role name (minimum of 2 and maximum of 200 characters)'));">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group row">
                    <label class="col-form-label col-md-3" for="roleName">Name</label>
                    <div class="col-md-9">
                        <input  type="text" id="roleName" name="roleName" placeholder="Enter role name" class="form-control" [ngClass]="{'is-valid': f.submitted && roleName.valid, 'is-invalid' : f.submitted && !roleName.valid}" [(ngModel)]="roleEdit.name"
                            #roleName="ngModel" required minlength="2" maxlength="200" />
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <div class="form-group row">
                    <label class="col-form-label col-md-3" for="roleDescription">Description</label>
                    <div class="col-md-9">
                        <input  type="text" id="roleDescription" name="roleDescription" placeholder="Enter role description" class="form-control" [(ngModel)]="roleEdit.description" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span *ngIf="showValidationErrors && f.submitted && !roleName.valid" class="invalid-feedback">
          Role Name is Required
        </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr class="edit-separator-hr" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 card card-body bg-light well-sm permissionsRow">
                <div class="row">

                    <ng-template ngFor let-permissionGroup [ngForOf]="allPermissions | groupBy: 'groupName'" let-i="index">
                        <div class="form-group row col-sm-6 permissionsColumn">
                            <label class="col-md-5 col-form-label group-name" for="checkboxes" (click)="toggleGroup(permissionGroup.key)">{{permissionGroup.key}}</label>
                            <div class="col-md-7">
                                <div class="form-check" *ngFor="let permission of permissionGroup.value">
                                    <input  name="checkboxes-{{permission.value}}" id="checkboxes-{{permission.value}}" type="checkbox" class="form-check-input" [(ngModel)]="selectedValues[permission.value]">
                                    <label class="form-check-label" for="checkboxes-{{permission.value}}">{{permission.name}}</label><br/>
                                  </div>
                            </div>
                        </div>
                        <div *ngIf="(i + 1) % 2 === 0" class="clearfix"></div>
                    </ng-template>

                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <hr class="edit-last-separator-hr" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-5">
                <div  class="float-left">
                    <a (click)="selectAll()" href="javascript:;" class="p-3 btn-link">SelectAll</a>|<a (click)="selectNone()" href="javascript:;" class="p-3 btn-link">SelectNone</a>
                </div>
            </div>

            <div class="col-sm-7">
                <div ngPreserveWhitespaces class="float-right">
                    <button *ngIf="!canManageRoles" type="button" (click)="cancel()" class="btn btn-outline-secondary">Close</button>
                    <button *ngIf="canManageRoles" type="button" (click)="cancel()" class="btn btn-danger" [disabled]="isSaving"><i class='fa fa-times'></i> Cancel</button>
                    <button *ngIf="canManageRoles" type="submit" class="btn btn-primary" [disabled]="isSaving">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? ('Saving' ) : ('Save' )}}
          </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
<div class="modal fade" bsModal #editorModal1="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{usertext}}</h4>
                <button type="button" class="close float-right" title="Close" (click)="editorModal1.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    <li *ngFor="let role of rows"><input type="checkbox" name="checkbox-{{role.name}}" [disabled]="!canManageRoles" [(ngModel)]="selectedValues1[role.id+uservalue]" />{{role.name}}</li>
                </ul>
                <button type="button" [ngClass]="!canManageRoles ? 'd-none': ''" [disabled]="!canManageRoles" (click)="addrolepermissionsubmit()" class="btn btn-sm btn-outline-primary"><i class="fa fa-save"></i> Submit</button>

            </div>
        </div>
    </div>
</div>
