<div class="d-flex">
    <div class="login-container m-auto">
      <div class="card boxshadow">
        <div class="card-header bg-primary dark text-white clearfix">
          <i class="fa fa-lock" aria-hidden="true"></i> Reset Password
          
        </div>
        <div class="card-body">
          <div class="col-md-8 offset-md-2">
            <form [formGroup]="resetForm" (ngSubmit)="resetpassword()">
            <div class="form-group row">
                <label class="col-form-label col-md-3" for="login-username">New Password:</label>
                <div class="col-md-9">
                    <input type="password" formControlName="Password" class="form-control" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }">
                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                        <div *ngIf="f.Password.errors.required">Password is required</div>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-form-label col-md-3" for="login-username">Confirm New Password:</label>
                <div class="col-md-9">
                    <input type="password" formControlName="ConfirmPassword" class="form-control" placeholder="Enter ConfirmPassword" >
                   <div *ngIf="resetForm.hasError('notSame')" class="invalid-feedback">
                    Passwords do not match

                   </div>
                </div>
              </div>
             
              <div class="form-group row">
                <div class="offset-md-3 col-md-9">
                  <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                    <i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Submitting...' : 'Submit'}}
                  </button>
                </div>
              </div>


          </form>

              </div>
              </div>
              </div>
              </div>
              </div>