
<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">MOU</h5>
            <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="index.html"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#!">MOU</a>
            </li>
            <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">

          <!-- Hover table card start -->
          <div class="card">
            <div class="card-header">
          <h5>{{tablename}}</h5>
              <!-- <span>use class <code>table-hover</code> inside table element</span> -->
              <div class="card-header-right">
                <ul class="list-unstyled card-option">
                  <li><i class="fa fa fa-wrench open-card-option"></i></li>
                  <li><i class="fa fa-window-maximize full-card"></i></li>
                  <li><i class="fa fa-minus minimize-card"></i></li>
                  <li><i class="fa fa-refresh reload-card"></i></li>
                  <li><i class="fa fa-trash close-card"></i></li>
                </ul>
              </div>
            </div>
            <div class="card-block table-border-style">
              <div class="table-responsive">


                <!--table for client start-->
                <table class="table table-hover" *ngIf="showClientPage">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Institute</th>
                      <th>Dept. Name</th>
                      <th>Phone No.</th>
                      <th>Director Name</th>
                      <th>Director Mobile</th>

                      <th *ngIf="viewhistory">History</th>
                                                
                      <th *ngIf="viewadditionalfileright">Additional File</th>
                      <th *ngIf="viewremark">Previous Remarks</th> 
                      <th>Action</th>
                      <th *ngIf='isAdmin && (type=="S115" ||type=="S121" ||type=="S124")'></th>
                      <th *ngIf='isAdmin && (type=="S115" ||type=="S121")'></th>
                      <th *ngIf='isNodal && type=== "S117"|| type=="126"'></th>
                   

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mouModel;let i=index;">
                      <th scope="row">{{i+1}}</th>
                      <td>{{item.int_Uni_Name}}</td>
                      <td>{{item.dept_Name}}</td>
                      <td>{{item.phoneNo}}</td>
                      <td>{{item.dir_Head_Name}}</td>
                      <td>{{item.dir_Mobile_No}}</td>
                      <td *ngIf="viewhistory"><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'tta',refid:item.refid}">View</a></td>
                      <!-- <td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td><span class="badge badge-light">{{item.additionalfilecount}}</span> -->
                      <td *ngIf="viewadditionalfileright" ><a (click)="viewadditionalfile(item)" class="stretched-link">View</a></td>
                      <td *ngIf="viewremark"><p class="spandots" (click)="remarksview(item.remarks)">{{item.remarks}}</p></td>

                      <td>
                        <button class="btn btn-info" *ngIf='item.app_Status === "S108" && !item.assigntoscientist' (click)="assignscientist(item)">Assign Scientist</button>
                        <button class="btn btn-info" title="Forward to Admin" *ngIf='item.app_Status === "S108" && item.assigntoscientist' (click)="onClientClick(item,'S113')">Upload</button>
                        <button value="assign" title="Forward to BDM" *ngIf='isAdmin && item.app_Status==="S113"' class="btn btn-success" (click)="onClientClick(item,'S114')">Assign</button>
                        <button class="btn btn-info" title="Forward to Admin" *ngIf='isBdm  && item.app_Status === "S114"' (click)="onClientClick(item,'S115')">Upload</button>

                        <button value="assign" *ngIf='isAdmin && item.app_Status==="S115"' class="btn btn-danger" (click)="onClientClick(item,'S116')">Close</button>

                        <button class="btn btn-info" *ngIf='isBdm && item.app_Status === "S118"' (click)="onClientClick(item,'S115')">Upload</button>
                        <button class="btn btn-info" *ngIf='isBdm && item.app_Status === "S116"' (click)="onClientClick(item,'S119')">Closure Report </button>
                        <button value="assign"  *ngIf='isAdmin && item.app_Status==="S119"' class="btn btn-danger" (click)="onClientClick(item,'S120')">Close</button>


                        <button class="btn btn-success" title="Forward to Admin" *ngIf='isScientist && item.app_Status === "S117"' (click)="onClientClick(item,'S122')">Accept</button>

                        <button value="assign" title="Forward to BDM" *ngIf='isAdmin && item.app_Status==="S122"' class="btn btn-info" (click)="onClientClick(item,'S123')">Assign</button>
                        <button class="btn btn-info" title="Forward to Admin" *ngIf='isBdm && item.app_Status === "S123"' (click)="onClientClick(item,'S124')">Upload</button>

                        <button value="assign" *ngIf='isAdmin && item.app_Status==="S124"' class="btn btn-success" (click)="onClientClick(item,'S126')">Approve</button>

                        <button value="assign" *ngIf='isBdm && item.app_Status==="S125"' class="btn btn-info" (click)="onClientClick(item,'S124')">Update</button>

                        <button value="assign" *ngIf='isScientist && item.app_Status==="S126"' class="btn btn-success" (click)="onClientClick(item,'S127')">Approve</button>

                        <button value="assign" *ngIf='isAdmin && item.app_Status==="S128"' class="btn btn-success" (click)="onClientClick(item,'S125')">Forward</button>

                        <button value="assign" *ngIf='isBdm && item.app_Status==="S127"' class="btn btn-success" (click)="onClientClick(item,'S129')">Submit</button>

                        <button value="assign" *ngIf='isBdm && item.app_Status==="S129"' class="btn btn-success" (click)="onClientClick(item,'S130')">Submit</button>

                        <button value="assign" title="Forward To Admin" *ngIf='isAdmin && item.app_Status==="S131"' class="btn btn-success" (click)="onClientClick(item,'S125')">Forward</button>

                      </td>

                      <td *ngIf='isAdmin && item.app_Status==="S115"'><button value="assign" *ngIf='isAdmin && item.app_Status==="S115"' class="btn btn-success" (click)="onClientClick(item,'S117')">Forward</button></td>
                      <td *ngIf='isAdmin && item.app_Status==="S115"'><button value="assign" *ngIf='isAdmin && item.app_Status==="S115"' class="btn btn-info" (click)="onClientClick(item,'S118')">Change Request</button></td>


                      <td *ngIf='isNodal && item.app_Status === "S117"'>
                        <button class="btn btn-info" *ngIf='isScientist && item.app_Status === "S117"' (click)="onClientClick(item,'S121')">Change Request</button>
                      </td>

                      <td *ngIf='isAdmin && item.app_Status==="S121"'><button value="assign" *ngIf='isAdmin && item.app_Status==="S121"' class="btn btn-success" (click)="onClientClick(item,'S117')">Reject</button></td>
                      <td *ngIf='isAdmin && item.app_Status==="S121"'><button value="assign" *ngIf='isAdmin && item.app_Status==="S121"' class="btn btn-info" (click)="onClientClick(item,'S118')">Change Request</button></td>

                      
                      <td *ngIf='isAdmin && item.app_Status==="S124"'><button value="assign" *ngIf='isAdmin && item.app_Status==="S124"' class="btn btn-info" (click)="onClientClick(item,'S125')">Change Request</button></td>


                      <td *ngIf='isNodal && item.app_Status==="S126"'><button value="assign" *ngIf='isScientist && item.app_Status==="S126"' class="btn btn-success" (click)="onClientClick(item,'S128')">Change Request</button></td>


                      <!-- <td><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'tto',refid:item.refid}">View</a></td> -->

                    </tr>
                  </tbody>
                </table>
                <!--table for client end-->
              </div>
            </div>
          </div>
          <!-- Hover table card end -->

        </div>
        <!-- Page-body end -->
      </div>
    </div>
    <!-- Main-body end -->
  </div>
  <app-footer></app-footer>
</div>




<div class="modal fade" bsModal #editorModal2="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg" style="max-height: 600px;
  overflow: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4>{{formHeader}}</h4>
        <button type="button" class="close float-right" title="Close" (click)="editorModal2.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ForwardForm">
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Subject</label>
              <input type="text" class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
              <p *ngIf="submitted && f.subject.errors" class="invalid-feedback">Subject is required</p>
                      

            </div>
          </div>
          <div class="form-group row" *ngIf="activearray?.bdoassigned">
            <div class="col-sm-12">
              <label class="col-form-label">BDM</label>
              <select type="text" class="form-control" name="assigntobdo" formControlName="assigntobdo" [(ngModel)]="selected">
                <option *ngFor="let user of rows" value="{{user.id}}">{{user.fullName}}</option>
                <!-- <option value="MOU">MOU</option>
                <option value="NDA">NDA</option>
                <option value="Work Order">Work Order</option>
                <option value="Others">Others</option> -->
              </select>


            </div>
          </div>
          <div class="form-group row"  *ngIf="type=='S113'">
            <div class="col-sm-6"> 
                <label class="col-form-label">Default Reminder</label>
                <input type="radio" class="form-control" name="remindertype" value="default"  formControlName="remindertype" (change)="reminderchange('default')"/>
             
            </div>
                <div class="col-sm-6"> 
                    <label class="col-form-label">Custom Reminder</label>
                    <input type="radio" class="form-control" name="remindertype" value="custom" formControlName="remindertype" (change)="reminderchange('custom')"/>
                       
                              </div>
                            </div>
                             <div class="form-group row"  *ngIf="type=='S113'">
                                <app-reminder *ngIf="customrem" [customrem]="customrem" [mouref]="mouref" [type]="type" style="width:100%"></app-reminder>
                             </div>
            

          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Remarks</label>
              <textarea type="text" class="form-control" formControlName="remarks" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }">
                                </textarea>

            </div>
          </div>

          
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Upload</label>
              <input type="file"  accept="*" class="form-control" accept="application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" (change)="ClientfileChangeEvent($event)" />


            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
             
              <button type="submit" class="btn btn-success" (click)="uploadClientFile()" [disabled]="loading">
                <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'Saving...' : 'Save'}}
              </button>
            </div>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" bsModal #editorModal3="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-md" style="max-height: 600px;
  overflow: auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Assign Scientist</h4>
        <button type="button" class="close float-right" title="Close" (click)="editorModal3.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AssignScientistForm">
          <div class="form-group row p-5">
            <label class="col-form-label">Scientist</label>
            <select  class="form-control" formControlName="scientist" [ngClass]="{ 'is-invalid': submitted && f1.scientist.errors }" >
              <option value="">Choose</option>
              <option *ngFor="let sc of activeusermou" value="{{sc.userid}}">{{sc.mouref}}</option>
              </select>

              <p *ngIf="submitted1 && f1.scientist.errors" class="invalid-feedback">Please select Scientist</p>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="submit"
                      class="btn btn-success"
                      (click)="saveassignscien()">
                Save
              </button>
            </div>
          </div>

          </form>
          </div>
          </div>
          </div>
          </div>
          <app-addition-file></app-addition-file>