<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">NDA to term sheet approval </h5>
            <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="index.html"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#!">MOU</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">

        <!-- Page body start -->
        <div class="page-body">

          <div class="row categoryList mouList">
            <div class="col-sm-12">
              <!-- Basic Form Inputs card start -->
              <div class="row">
                <!-- task, page, download counter  start -->




                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">TS Entered by LUF</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S146')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_entered_by_luf'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-yellow">TS Change Request by Admin</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S147')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_change_req_by_admin'}">
                        <div class="card-footer bg-c-yellow">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-green">TS Approved by Admin</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S148')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_approved_by_admin'}">
                        <div class="card-footer bg-c-green ">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-purple">TS Change Request by Client</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S149')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_change_req_by_client'}">
                        <div class="card-footer bg-c-purple">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-green">TS Approved by Client</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S150')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_approved_by_client'}">
                        <div class="card-footer bg-c-green">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>


                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-blue">TS Shared with Company</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S151')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_shared_with_company'}">
                        <div class="card-footer bg-c-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-blue">TS Change Request by Company</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S152')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_change_req_by_company'}">
                        <div class="card-footer bg-c-dark-blue">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>
                <div class="col-xl-3 col-md-6">
                  <a href="#">
                    <div class="card">
                      <div class="card-block">
                        <div class="row align-items-top">
                          <div class="col-12">
                            <h4 class="text-c-dark-green">TS Approved by Company</h4>
                            <h6 class="text-muted m-b-0">{{clientMouListFilter('S153')}}</h6>
                          </div>
                          <!-- <div class="col-4 text-right">
                <i class="fa fa-bar-chart f-28"></i>
            </div> -->
                        </div>
                      </div>
                      <a routerLink='../bcil-nttsa-table' [queryParams]="{type:'ts_approved_by_company'}">
                        <div class="card-footer bg-c-dark-green">
                          <div class="row align-items-center">
                            <div class="col-9">
                              <p class="text-white m-b-0">View</p>
                            </div>
                            <div class="col-3 text-right">
                              <i class="fa fa-arrow-right text-white f-16"></i>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </a>
                </div>

              </div>
              <!-- Basic Form Inputs card end -->
            </div>
          </div>
        </div>
        <!-- Page body end -->
      </div>
    </div>
    <!-- Main-body end -->
    <!-- <div id="styleSelector">

    </div> -->
  </div>
  <app-footer></app-footer>
</div>
