<div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">MOU</h5>
                                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">MOU</a>
                                        </li>
                                        <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    
                                    <!-- Hover table card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Summary<span class="text-info"></span></h5>
                                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                            <div class="card-header-right">
                                                <ul class="list-unstyled card-option">
                                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                                    <!-- <li><i class="fa fa-trash close-card"></i></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover" *ngIf="showpage">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>File Name</th>
                                                            <th>From</th>
                                                            <th>Created On</th>
                                                            <th>Remarks</th>

                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of fileshistory;let i=index;">
                                                            <th scope="row">{{i+1}}</th>
                                                            <td><a href="{{getbaseurl}}/{{item.url}}" target="_blank">{{item.filename==''?'Not Available':item.filename}}</a>
                                                                <br/>
                                                                <div *ngFor="let items of item?.jsondata | keyvalue">
<p *ngIf="items.key=='FILE'">{{item?.jsondata?.FEE_RECEIPT_FILE !=undefined ? 'FEE RECEIPT FILE':'NBA_FILE' |underscore}}: <a href="{{getbaseurl}}/{{items.value}}">{{item?.jsondata?.FILENAME}}</a></p>
                                                                  
<p *ngIf="items.key!='NEXTACTION' && items.key!='FILE' && items.key!='FEE_RECEIPT_FILE' && items.key!='NBA_FILE'&& items.key!='FILENAME'"> <b>{{items.key| underscore}}</b>: <b>{{items.value}}</b></p>
     <p *ngIf="items.key=='NEXTACTION'" >
<ng-container  *ngFor="let next of items.value">
    <p><b>NextAction-</b><span class='mr-3'>{{next.nextaction}}</span>  <b>Deadline-</b><span class='mr-3'>{{next.deadline}}</span>    <b>Remarks-</b><span class='mr-3'>{{next.remarks}}</span> </p>


      </ng-container>      
    </p>                                                   
</div>
                                                                <ng-container *ngIf="item?.milestone?.length>0">
                                                                    <h4>Milestones</h4>
                                                                <div *ngFor="let items of item?.milestone">
                                                                   
<p><b>Milestone-</b><span class='mr-3'>{{items.milestone}}</span>  <b>Timeline-</b><span class='mr-3'>{{items.timelines}}</span>    <b>Payment term-</b><span class='mr-3'>{{items.paymentterm}}</span> </p>
                                                                </div>
                                                                </ng-container>
                                                        </td>
                                                            <td>{{item.createdby}}</td>
                                                            <td>{{item.createdondate }}</td>
                                                            <td><p class="spandots" (click)="remarksview(item.remarks)">{{item.remarks}}</p></td>
                                                            
                                                     </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Hover table card end -->
                                    
                                </div>
                                <!-- Page-body end -->
                            </div>
                        </div>
                        <!-- Main-body end -->

                        <!-- <div id="styleSelector">

                        </div> -->
                    </div>
                    <app-footer></app-footer>
                </div>