<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">MIS</h5>
                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">MIS</a>
                        </li>
                        <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    
                    <!-- Hover table card start -->
                    <div class="card" *ngIf="!checkmis()">
                        <div class="card-header">
                            <h5>{{array?.tablename}}</h5>
                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-trash close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block table-border-style">
                          <div class="table-responsive">
                            <table class="table table-hover" *ngIf="showpage">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>MIS No</th>
                                  <th>Subject</th>
                                  <th>Milestones</th>
                                  <th>Remarks</th>
                               <th>Action</th>
                               <th *ngIf="viewhistory">History</th>
                                                
                               <th *ngIf="viewadditionalfileright">Additional File</th>
                               <th *ngIf="viewremark">Previous Remarks</th> 
                                </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let mis of misModel;let i=index">
                                      <td>{{i+1}}</td>
                                      <td>{{mis?.appno}}</td>
                                      <td>{{mis?.subject}}</td>
                                      <td ><button class="btn btn-primary btn-sm" (click)="viewmilestone(mis)">View Milestones</button><span class="btn-badge"></span></td>
                                      <td>{{mis?.remark}}</td>
                                     
                                      <td>
                                          <ng-container *ngFor="let btn of array?.button">
                                            <button  type="submit" class="misbtn {{btn?.class}}" title="{{btn.title}}" (click)="onmodalclick($event.target.value,btn.value,mis)">{{btn.text}}</button>
                                                      
                                          </ng-container>
                                      </td>

                                      <td *ngIf="viewhistory"><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'mis',refid:mis?.refid}">View</a></td>
                                      <!-- <td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td><span class="badge badge-light">{{item.additionalfilecount}}</span> -->
                                      <td *ngIf="viewadditionalfileright" ><a (click)="viewadditionalfile(mis)" class="stretched-link">View</a></td>
                                      <td *ngIf="viewremark"><p class="spandots" (click)="remarksview(mis.remarks)">{{mis?.remarks}}</p></td>
                                  </tr>
                                  </tbody>
                                  </table>
                          </div>
                          </div>
                          </div>
                          <div class="card" *ngIf="checkmis()">
                            <div class="card-header">
                                <h5>{{array?.tablename}}</h5>
                                <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                        <li><i class="fa fa-trash close-card"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block table-border-style">
                              <div class="table-responsive">
                                <table class="table table-hover" *ngIf="showpage">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>MILESTONE No</th>
                                      <th>MIS REF</th>
                                      
                                      <th>Milestones</th>
                                      <th>Payment Term</th>
                                      <th>Timelines</th>
                                   <th>Action</th>
                                   <th *ngIf="viewhistory">History</th>
                                                    
                                   <th *ngIf="viewadditionalfileright">Additional File</th>
                                   <th *ngIf="viewremark">Previous Remarks</th> 
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let mis of milestonearray;let i=index">
                                          <td>{{i+1}}</td>
                                          <td>{{mis?.appno}}</td>
                                          <td>{{mis?.misref}}</td>
                                         <td>{{mis?.milestone}}</td>
                                         <td>{{mis?.paymentterm}}</td>
                                         <td>{{mis?.timelines |date}}</td>
                                         
                                          <td>
                                              <ng-container *ngFor="let btn of array?.button">
                                                <button  type="submit" class="misbtn {{btn?.class}}" title="{{btn.title}}" (click)="onmodalclick($event.target.value,btn.value,mis)">{{btn.text}}</button>
                                                          
                                              </ng-container>
                                          </td>
    
                                          <td *ngIf="viewhistory"><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'mil',refid:mis?.refid}">View</a></td>
                                          <!-- <td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td><span class="badge badge-light">{{item.additionalfilecount}}</span> -->
                                          <td *ngIf="viewadditionalfileright" ><a (click)="viewadditionalfile(mis)" class="stretched-link">View</a></td>
                                          <td *ngIf="viewremark"><p class="spandots" (click)="remarksview(mis.remarks)">{{mis?.remarks}}</p></td>
                                      </tr>
                                      </tbody>
                                      </table>
                              </div>
                              </div>
                              </div>
                          <app-footer></app-footer>
                          </div>
            </div>
            <app-addition-file></app-addition-file>
            <app-activity [array]="array"></app-activity>
            <div class="modal fade" bsModal #editorModal2="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" style="z-index:1050;">
                <div class="modal-dialog modal-lg" style="max-height: 600px;
                overflow: auto;">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4>Milestones</h4>
                      <button type="button" class="close float-right" title="Close" (click)="editorModal2.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                <th>Milestones</th>
                                <th>Timeline</th>
                              <th>Payment Term</th>
                              <th>Action</th>
                              </tr>
                                
                            </thead>
                            <tbody>
<tr *ngFor="let mil of milestones;let i=index">
    <td>{{i+1}}</td>
    <td>{{mil.milestone}}</td>
    <td>{{mil.timelines |date:'fullDate'}}</td>
    <td>{{mil.paymentterm}}</td>
    <td *ngIf="milestonedata[0]?.forward?.includes(array?.value) && mil?.appno==null"><button class="btn btn-success btn-sm" (click)="onmodalclick($event.target.value,'S177',mil)" >Forward</button></td>
</tr>
                            </tbody>
                        </table>
                        </div>
                  </div>
                  </div>
                  </div>
                 