<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">MIS</h5>
                        <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">MIS</a>
                        </li>
                        <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    
                    <!-- Hover table card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>{{array?.tablename}}</h5>
                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-trash close-card"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-block table-border-style">
                          <div class="table-responsive">
                            <table class="table table-hover" *ngIf="showpage">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>MIS No</th>
                               <th>Action</th>
                              
                                </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td></td>
                                      <td>hjhhjhj</td>
                                      <td>
                                          <ng-container *ngFor="let btn of array?.button">
<button  type="submit" class="misbtn {{btn?.class}}">{{btn.text}}</button>
                                          </ng-container>
                                      </td>
                                  </tr>
                                  </tbody>
                                  </table>
                          </div>
                          </div>
                          </div>
                          <app-footer></app-footer>
                          </div>
            </div>