
<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">Term sheet to Licensing</h5>
            <p class="m-b-0">Welcome to Technology Transfer Office at BCIL</p>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="index.html"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#!">MOU</a>
            </li>
            <!-- <li class="breadcrumb-item"><a href="#!">Assignments</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">

          <!-- Hover table card start -->
          <div class="card">
            <div class="card-header">
              <h5>{{activearray?.tabelname}}</h5>
              <!-- <span>use class <code>table-hover</code> inside table element</span> -->
              <div class="card-header-right">
                <ul class="list-unstyled card-option">
                  <li><i class="fa fa fa-wrench open-card-option"></i></li>
                  <li><i class="fa fa-window-maximize full-card"></i></li>
                  <li><i class="fa fa-minus minimize-card"></i></li>
                  <li><i class="fa fa-refresh reload-card"></i></li>
                  <li><i class="fa fa-trash close-card"></i></li>
                </ul>
              </div>
            </div>
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-hover" *ngIf="showpage">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Institute</th>
                      <th>Dept. Name</th>
                      <th>Phone No.</th>
                      <th>Director Name</th>
                      <th>Director Mobile</th>
                      <th *ngIf="viewhistory">History</th>
                                                
                      <th *ngIf="viewadditionalfileright">Additional File</th>
                      <th *ngIf="viewremark">Previous Remarks</th> 
                      <th>Action</th>
                   

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mouModel;let i=index;">
                      <th scope="row">{{i+1}}</th>
                      <td>{{item.int_Uni_Name}}</td>
                      <td>{{item.dept_Name}}</td>
                      <td>{{item.phoneNo}}</td>
                      <td>{{item.dir_Head_Name}}</td>
                      <td>{{item.dir_Mobile_No}}</td>
                      <td *ngIf="viewhistory"><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'tta',refid:item.refid}">View</a></td>
                      <!-- <td *ngIf="viewremark"><button class="btn btn-info">Remarks</button></td><span class="badge badge-light">{{item.additionalfilecount}}</span> -->
                      <td *ngIf="viewadditionalfileright" ><a (click)="viewadditionalfile(item)" class="stretched-link">View</a></td>
                      <td *ngIf="viewremark"><p class="spandots" (click)="remarksview(item.remarks)">{{item.remarks}}</p></td>

                      <td>
                        <button value="back" *ngIf="activearray?.back && permissionbutton1 " title="{{activearray?.backtitle}}" class="btn btn-info" (click)="onmodalclick($event.target.value,item)">{{activearray?.backbuttonText}}</button>
                        <button value="forword" *ngIf="activearray?.forwardCheck && permission" title="{{activearray?.forwordtitle}}" class="btn btn-success ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.forwardText}}</button>
                        <button value="approve" *ngIf="activearray?.approved && permissionbutton2" title="{{activearray?.approvetitle}}" approvetitle class="btn btn-success ml-2" (click)="onmodalclick($event.target.value,item)">{{activearray?.approvedText}}</button>

                      </td>
                      <!-- <td><a class="btn btn-secondary" routerLink='../file-history' [queryParams]="{stage:'tto',refid:item.refid}">View</a></td> -->

                    </tr>
                  </tbody>
                </table>



              </div>
            </div>
          </div>
          <!-- Hover table card end -->

        </div>
        <!-- Page-body end -->
      </div>
    </div>
    <!-- Main-body end -->
    <!-- <div id="styleSelector">

    </div> -->
  </div>
  <app-footer></app-footer>
</div>
<!-- </div>
        </div>
    </div>
</div> -->

<div class="modal fade" bsModal #editorModal1="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Application Forward</h4>
        <button type="button" class="close float-right" title="Close" (click)="editorModal1.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ForwardForm">

          <div class="form-group row" *ngIf="type=='S101' && isAdmin && forword">
            <div class="col-sm-12">
              <label class="col-form-label">Select Legal Manager</label>

              <select type="text" class="form-control" formControlName="assignto" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                <option value="" selected>--select--</option>
                <option *ngFor="let data of rows" value="{{data.id}}">{{data.fullName}}</option>

              </select>


            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Subject</label>
              <input type="text" class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />


            </div>
          </div>
          <div class="form-group row" *ngIf="activearray?.type">
            <div class="col-sm-12">
              <label class="col-form-label">Type</label>
              <select type="text" class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                <option value="">Choose</option>
                <option value="MOU">MOU</option>
                <option value="NDA">NDA</option>
                <option value="Work Order">Work Order</option>
              </select>


            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Remarks</label>
              <textarea type="text" class="form-control" formControlName="remarks" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }">
                                </textarea>

            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label">Upload</label>
              <input type="file" accept="*" class="form-control" (change)="fileChangeEvent($event)" />
              <span class="text-danger float-right">*For multiple files, please compress and upload.(zip format)</span>


            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <!-- <button type="submit"
                      class="btn btn-success"
                      (click)="uploadFile()">
               Save
              </button> -->
              <button type="submit" class="btn btn-success" (click)="uploadFile()" [disabled]="loading">
                <i *ngIf="loading" class='fa fa-circle-o-notch fa-spin'></i> {{loading ? 'Saving...' : 'Save'}}
              </button>
            </div>


          </div>


        </form>
        <!-- <ul class="list-unstyled">
            <li *ngFor="let role of rows"><input type="checkbox" name="checkbox-{{role.name}}" [disabled]="!canManageRoles" [(ngModel)]="selectedValues1[role.id+uservalue]" />{{role.name}}</li>
        </ul>
        <button type="button" [ngClass]="!canManageRoles ? 'd-none': ''" [disabled]="!canManageRoles" (click)="addrolepermissionsubmit()" class="btn btn-sm btn-outline-primary"><i class="fa fa-save"></i> Submit</button> -->

      </div>
    </div>
  </div>
</div>

<app-addition-file></app-addition-file>
