<div class="pcoded-content">
          <!-- Page-header start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-8">
                  <div class="page-header-title">
                    <h5 class="m-b-10">MOU</h5>
                    <p class="m-b-0">MOU Form</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                      <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#!">MOU</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#!">MOU Form</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Page-header end -->
          <div class="pcoded-inner-content">
            <!-- Main-body start -->
            <div class="main-body">
              <div class="page-wrapper">

                <!-- Page body start -->
                <div class="page-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- Basic Form Inputs card start -->
                      <div class="card">
                        <div class="card-header">
                          <h5>Add MOU</h5>
                          <!-- <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span> -->
                        </div>
                        <div class="card-block">
                          <h4 class="sub-title">Institute/University Details</h4>
                          <form [formGroup]="AddMouForm">
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Institute / University </label>
                                <select class="form-control" formControlName="int_Uni_Drop" [ngClass]="{ 'is-invalid': submitted && f.int_Uni_Drop.errors }">
                                  <option value="">--Select--</option>
                                  <option value="1">Institute</option>
                                  <option value="2">University</option>
                                </select>

                                <p *ngIf="submitted && f.int_Uni_Drop.errors" class="invalid-feedback">Please select Institute / University </p>
                              </div>
                              <div class="col-sm-6">
                                <label class="col-form-label">Institute / University Name</label>
                                <input type="text" class="form-control" formControlName="int_Uni_Name" [ngClass]="{ 'is-invalid': submitted && f.int_Uni_Name.errors }">
                                <p *ngIf="submitted && f.int_Uni_Name.errors" class="invalid-feedback">Institute / University is required</p>
                              </div>
                            </div>

                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">Dept. Name</label>
                                <input type="text" class="form-control" formControlName="dept_Name" [ngClass]="{ 'is-invalid': submitted && f.dept_Name.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.dept_Name.errors" class="invalid-feedback">Dept. Name is required</p>
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Address</label>
                                <textarea rows="2" cols="2" class="form-control" placeholder="" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                                <p *ngIf="submitted && f.address.errors" class="invalid-feedback">Address is required</p>
                              </div>

                            </div>
                            <div class="form-group row">

                              <div class="col-sm-6">
                                <label class="col-form-label">Phone No.</label>
                                <input type="text" class="form-control" formControlName="phoneNo" [pattern]="mobNumberPattern" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">Enter valid Phone No.</p>
                                <!--<p *ngIf="f.phoneNo.errors.pattern" class="invalid-feedback">Please, Enter 10 digit Mobile Number.</p>-->
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Email Id</label>
                                <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                               
                                <p *ngIf="submitted && f.email.errors" class="invalid-feedback">Valid Email is required</p>
                              </div>
                            </div>
                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">GST No.</label>
                                <input type="text" class="form-control" formControlName="gstNo" [ngClass]="{ 'is-invalid': submitted && f.gstNo.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.gstNo.errors" class="invalid-feedback">Gst No. is required</p>
                              </div>
                            </div>
                            <h4 class="sub-title">Director / Head Details</h4>
                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">Director / Head Name</label>
                                <input type="text" class="form-control" formControlName="dir_Head_Name" [ngClass]="{ 'is-invalid': submitted && f.dir_Head_Name.errors }">
                                <p *ngIf="submitted && f.dir_Head_Name.errors" class="invalid-feedback">Director / Head Name is required</p>
                              </div>
                              <div class="col-sm-6">
                                <label class="col-form-label">Phone No.</label>
                                <input type="text" class="form-control" formControlName="dir_Phone_No" [pattern]="mobNumberPattern"  [ngClass]="{ 'is-invalid': submitted && f.dir_Phone_No.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.dir_Phone_No.errors" class="invalid-feedback">Enter valid Phone No </p>
                                
                              </div>

                            </div>
                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">Mobile No.</label>
                                <input type="text" class="form-control" formControlName="dir_Mobile_No" [pattern]="mobNumberPattern" [ngClass]="{ 'is-invalid': submitted && f.dir_Mobile_No.errors }">
                                <p *ngIf="submitted && f.dir_Mobile_No.errors" class="invalid-feedback">Mobile No is required</p>
                              </div>
                              <div class="col-sm-6">
                                <label class="col-form-label">Email Id</label>
                                <input type="text" class="form-control" formControlName="dir_Email" [ngClass]="{ 'is-invalid': submitted && f.dir_Email.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.dir_Email.errors" class="invalid-feedback">Email is required</p>
                              </div>

                            </div>
                            <div class="form-group row">

                              <div class="col-sm-6">
                                <label class="col-form-label">Designation </label>
                                <select class="form-control" formControlName="dir_Designation_Drop" [ngClass]="{ 'is-invalid': submitted && f.dir_Designation_Drop.errors }" [(ngModel)]="dir_des_Value">
                                  <option value="">--Select--</option>
                                  <option value="1">Director</option>
                                  <option value="2">HoD</option>
                                  <option value="3">Dean</option>
                                  <option value="4">Other</option>

                                </select>

                                <p *ngIf="submitted && f.dir_Designation_Drop.errors" class="invalid-feedback">Please select Designation </p>
                              </div>

                              <div class="col-sm-6">
                                <ng-container *ngIf="dir_des_Value == '4'">
                                  <label class="col-form-label">Designation (Other)</label>
                                  <input type="text" class="form-control" formControlName="dir_Designation" [ngClass]="{ 'is-invalid': submitted && f.dir_Designation.errors }">
                                  <p *ngIf="submitted && f.dir_Designation.errors" class="invalid-feedback">Designation is required</p>
                                </ng-container>
                              </div>

                            </div>
                            <hr />
                            <div class="form-group row">
                              <div class="col-sm-12" style="background-color:blue">
                                <div class="form-control">
                                  <input type="checkbox" (change)="eventCheck($event.target)">
                                  <label style="margin-left:20px">

                                    <b>SAME AS ABOVE</b>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <hr />

                            <h4 class="sub-title">Nodal Officer Details</h4>
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Nodal Officer Name</label>
                                <input type="text" class="form-control" formControlName="nodal_Name" [ngClass]="{ 'is-invalid': submitted && f.nodal_Name.errors }">
                                <p *ngIf="submitted && f.nodal_Name.errors" class="invalid-feedback">Nodal Officer Name is required</p>
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Phone No.</label>
                                <input type="text" class="form-control" [pattern]="mobNumberPattern" formControlName="nodal_Phone_No" [ngClass]="{ 'is-invalid': submitted && f.nodal_Phone_No.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.nodal_Phone_No.errors" class="invalid-feedback">Enter valid Phone No</p>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Mobile No.</label>
                                <input type="text" class="form-control" formControlName="nodal_Mobile_No" [pattern]="mobNumberPattern" [ngClass]="{ 'is-invalid': submitted && f.nodal_Mobile_No.errors }">
                                <p *ngIf="submitted && f.nodal_Mobile_No.errors" class="invalid-feedback">Nodal Officer Mobile No is required</p>
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Email Id</label>
                                <input type="text" class="form-control" formControlName="nodal_Email" [ngClass]="{ 'is-invalid': submitted && f.nodal_Email.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.nodal_Email.errors" class="invalid-feedback">Nodal Officer Email Id is required</p>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Designation </label>
                                <select class="form-control" formControlName="nodal_Designation_Drop" [ngClass]="{ 'is-invalid': submitted && f.nodal_Designation_Drop.errors }" [(ngModel)]="nodal_des_Value">
                                  <option value="">--Select--</option>
                                  <option value="1">Director</option>
                                  <option value="2">HoD</option>
                                  <option value="3">Dean</option>
                                  <option value="4">Other</option>

                                </select>

                                <p *ngIf="submitted && f.nodal_Designation_Drop.errors" class="invalid-feedback">Please select Designation </p>
                              </div>

                              <div class="col-sm-6">
                                <ng-container *ngIf="nodal_des_Value == '4'">
                                  <label class="col-form-label">Designation (Other)</label>
                                  <input type="text" class="form-control" formControlName="nodal_Designation" [ngClass]="{ 'is-invalid': submitted && f.nodal_Designation.errors }">
                                  <p *ngIf="submitted && f.nodal_Designation.errors" class="invalid-feedback">Nodal Designation is required</p>
                                </ng-container>
                              </div>

                              <!-- <div class="col-sm-6"> -->
                              <!-- <label class="col-form-label">Contact person</label> -->
                              <!-- <input type="text" class="form-control" -->
                              <!-- placeholder=""> -->
                              <!-- </div> -->
                            </div>
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Email ID</label> -->
                            <!-- <input type="text" class="form-control"> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Phone</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Address</label> -->
                            <!-- <textarea rows="2" cols="2" class="form-control" placeholder=""></textarea> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Contact Person</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Email ID</label> -->
                            <!-- <input type="text" class="form-control"> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Phone</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Address</label> -->
                            <!-- <textarea rows="2" cols="2" class="form-control" placeholder=""></textarea> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Contact person</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Email ID Phone</label> -->
                            <!-- <input type="text" class="form-control"> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Phone</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Address</label> -->
                            <!-- <textarea rows="2" cols="2" class="form-control" placeholder=""></textarea> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <div class="form-group row mt--40">
                              <div class="col-sm-12 text-center">
                                <button class="btn btn-primary waves-effect" (click)="onSubmit()">Submit</button>
                              </div>
                            </div>

                          </form>

                        </div>
                      </div>
                      <!-- Basic Form Inputs card end -->


                    </div>
                  </div>
                </div>
                <!-- Page body end -->
              </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
          </div>
          <app-footer></app-footer>
        </div>
     

