<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
            <i class="ti-menu blackMenu"></i>
          </a>
          <div class="mobile-search waves-effect waves-light">
            <div class="header-search">
              <div class="main-search morphsearch-search">
                <div class="input-group">
                  <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                  <input type="text" class="form-control" placeholder="Enter Keyword">
                  <span class="input-group-addon search-btn">
                    <i class="ti-search blackMenu"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <a href="index.html">
              <img class="img-fluid" src="assets/images/bcil-logo.png" alt="Theme-Logo" />
          </a> -->
          <a class="mobile-options waves-effect waves-light">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li>
              <div class="sidebar_toggle">
                <a href="javascript:void(0)"><i class="ti-menu"></i></a>
              </div>
            </li>
            <!-- <li class="header-search">
                <div class="main-search morphsearch-search">
                    <div class="input-group">
                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                        <input type="text" class="form-control">
                        <span class="input-group-addon search-btn"><i class="ti-search blackMenu"></i></span>
                    </div>
                </div>
            </li> -->
            <li>
              <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                <i class="ti-fullscreen blackMenu"></i>
              </a>
            </li>
          </ul>
          <ul class="nav-right">
            <li class="header-notification">
              <a href="#!" class="waves-effect waves-light">
                <i class="ti-bell blackMenu"></i>
                <span class="badge bg-c-red shadowColor"></span>
              </a>
              <!-- <ul class="show-notification">
                  <li>
                      <h6>Notifications</h6>
                      <label class="label label-danger">New</label>
                  </li>
                  <li class="waves-effect waves-light">
                      <div class="media">
                          <img class="d-flex align-self-center img-radius" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                          <div class="media-body">
                              <h5 class="notification-user">John Doe</h5>
                              <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                              <span class="notification-time">30 minutes ago</span>
                          </div>
                      </div>
                  </li>
                  <li class="waves-effect waves-light">
                      <div class="media">
                          <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                          <div class="media-body">
                              <h5 class="notification-user">Joseph William</h5>
                              <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                              <span class="notification-time">30 minutes ago</span>
                          </div>
                      </div>
                  </li>
                  <li class="waves-effect waves-light">
                      <div class="media">
                          <img class="d-flex align-self-center img-radius" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
                          <div class="media-body">
                              <h5 class="notification-user">Sara Soudein</h5>
                              <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                              <span class="notification-time">30 minutes ago</span>
                          </div>
                      </div>
                  </li>
              </ul> -->
            </li>
            <li class="user-profile header-notification">
              <a href="#!" class="waves-effect waves-light userName">
                <img src="assets/images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                <span>IPM/BDO</span>
                <i class="ti-angle-down"></i>
              </a>
              <ul class="show-notification profile-notification">

                <li class="waves-effect waves-light">
                  <a href="user-profile.html">
                    <i class="ti-user"></i> Profile
                  </a>
                </li>


                <li class="waves-effect waves-light">
                  <a href="auth-normal-sign-in.html">
                    <i class="ti-layout-sidebar-left"></i> Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
          <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu">
            <div class="">
              <div class="main-menu-header">
                <img class="img-80 img-radius" src="assets/images/avatar-4.jpg"
                     alt="User-Profile-Image">
                <div class="user-details">
                  <span id="more-details">Name<i class="fa fa-caret-down"></i></span>
                </div>
              </div>

              <div class="main-menu-content">
                <ul>
                  <li class="more-details">
                    <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>

                    <a href="auth-normal-sign-in.html">
                      <i class="ti-layout-sidebar-left"></i>Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation"></div>
            <ul class="pcoded-item pcoded-left-item">
              <li class="active index.html">
                <a href="index.html" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-home"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Dashboard</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">Technology Transfer</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu fontWeight">
                  <li class=" ">
                    <a href="form-elements-component.html" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-layers"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Milestones</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="bs-basic-table.html" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Assignments</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </li>
              <!-- <li class=""> -->
              <!-- <a href="#" class="waves-effect waves-dark"> -->
              <!-- <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> -->
              <!-- <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Patent</span> -->
              <!-- <span class="pcoded-mcaret"></span> -->
              <!-- </a>                                   -->
              <!-- </li> -->
              <!-- <li class=""> -->
              <!-- <a href="#" class="waves-effect waves-dark"> -->
              <!-- <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> -->
              <!-- <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Trademark</span> -->
              <!-- <span class="pcoded-mcaret"></span> -->
              <!-- </a>                                   -->
              <!-- </li> -->
              <!-- <li class=""> -->
              <!-- <a href="#" class="waves-effect waves-dark"> -->
              <!-- <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> -->
              <!-- <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Design</span> -->
              <!-- <span class="pcoded-mcaret"></span> -->
              <!-- </a>                                   -->
              <!-- </li> -->
              <!-- <li class=""> -->
              <!-- <a href="#" class="waves-effect waves-dark"> -->
              <!-- <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> -->
              <!-- <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Copyright</span> -->
              <!-- <span class="pcoded-mcaret"></span> -->
              <!-- </a>                                   -->
              <!-- </li> -->
              <!-- <li class=""> -->
              <!-- <a href="#" class="waves-effect waves-dark"> -->
              <!-- <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> -->
              <!-- <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Plant Variety</span> -->
              <!-- <span class="pcoded-mcaret"></span> -->
              <!-- </a>                                   -->
              <!-- </li> -->
              <!-- <li class=""> -->
              <!-- <a href="#" class="waves-effect waves-dark"> -->
              <!-- <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span> -->
              <!-- <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Other Services</span> -->
              <!-- <span class="pcoded-mcaret"></span> -->
              <!-- </a>                                   -->
              <!-- </li> -->
              <li class="">
                <a href="#" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Reports</span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>
              <li class="pcoded-hasmenu">
                <a href="javascript:void(0)" class="waves-effect waves-dark">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">MOU</span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu fontWeight">
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-layers"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">INIT</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Pending</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Change Req by Admin</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Proposed by LM</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Agreement Signed</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">MOU Accepted by Client</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">BDO Assigned</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">TTO Req Approved</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="#" class="waves-effect waves-dark">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">IPM Assigned</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>

                </ul>
              </li>
            </ul>
            <div class="dummyHeight"></div>
          </div>
        </nav>
        <div class="pcoded-content">
          <!-- Page-header start -->
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-8">
                  <div class="page-header-title">
                    <h5 class="m-b-10">MOU</h5>
                    <p class="m-b-0">MOU Form</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                      <a href="index.html"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#!">MOU</a>
                    </li>
                    <li class="breadcrumb-item">
                      <a href="#!">MOU Form</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Page-header end -->
          <div class="pcoded-inner-content">
            <!-- Main-body start -->
            <div class="main-body">
              <div class="page-wrapper">

                <!-- Page body start -->
                <div class="page-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <!-- Basic Form Inputs card start -->
                      <div class="card">
                        <div class="card-header">
                          <h5>Add MOU</h5>
                          <!-- <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span> -->
                        </div>
                        <div class="card-block">
                          <h4 class="sub-title">Institute/University Details</h4>
                          <form [formGroup]="AddMouForm">
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Institute / University </label>
                                <select class="form-control" formControlName="int_Uni_Drop" [ngClass]="{ 'is-invalid': submitted && f.int_Uni_Drop.errors }">
                                  <option value="">--Select--</option>
                                  <option value="1">Institute</option>
                                  <option value="2">University</option>
                                </select>

                                <p *ngIf="submitted && f.int_Uni_Drop.errors" class="invalid-feedback">Please select Institute / University </p>
                              </div>
                              <div class="col-sm-6">
                                <label class="col-form-label">Institute / University Name</label>
                                <input type="text" class="form-control" formControlName="int_Uni_Name" [ngClass]="{ 'is-invalid': submitted && f.int_Uni_Name.errors }">
                                <p *ngIf="submitted && f.int_Uni_Name.errors" class="invalid-feedback">Institute / University is required</p>
                              </div>
                            </div>

                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">Dept. Name</label>
                                <input type="text" class="form-control" formControlName="dept_Name" [ngClass]="{ 'is-invalid': submitted && f.dept_Name.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.dept_Name.errors" class="invalid-feedback">Dept. Name is required</p>
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Address</label>
                                <textarea rows="2" cols="2" class="form-control" placeholder="" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                                <p *ngIf="submitted && f.address.errors" class="invalid-feedback">Address is required</p>
                              </div>

                            </div>
                            <div class="form-group row">

                              <div class="col-sm-6">
                                <label class="col-form-label">Phone No.</label>
                                <input type="text" class="form-control" formControlName="phoneNo" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">Phone No. is required</p>
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Email Id</label>
                                <input type="text" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <p *ngIf="submitted && f.email.errors" class="invalid-feedback">Email is required</p>
                              </div>
                            </div>
                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">GST No.</label>
                                <input type="text" class="form-control" formControlName="gstNo" [ngClass]="{ 'is-invalid': submitted && f.gstNo.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.gstNo.errors" class="invalid-feedback">Gst No. is required</p>
                              </div>
                            </div>
                            <h4 class="sub-title">Director / Head Details</h4>
                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">Director / Head Name</label>
                                <input type="text" class="form-control" formControlName="dir_Head_Name" [ngClass]="{ 'is-invalid': submitted && f.dir_Head_Name.errors }">
                                <p *ngIf="submitted && f.dir_Head_Name.errors" class="invalid-feedback">Director / Head Name is required</p>
                              </div>
                              <div class="col-sm-6">
                                <label class="col-form-label">Phone No.</label>
                                <input type="text" class="form-control" formControlName="dir_Phone_No" [ngClass]="{ 'is-invalid': submitted && f.dir_Phone_No.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.dir_Phone_No.errors" class="invalid-feedback">Phone No is required</p>
                              </div>

                            </div>
                            <div class="form-group row">


                              <div class="col-sm-6">
                                <label class="col-form-label">Mobile No.</label>
                                <input type="text" class="form-control" formControlName="dir_Mobile_No" [ngClass]="{ 'is-invalid': submitted && f.dir_Mobile_No.errors }">
                                <p *ngIf="submitted && f.dir_Mobile_No.errors" class="invalid-feedback">Mobile No is required</p>
                              </div>
                              <div class="col-sm-6">
                                <label class="col-form-label">Email Id</label>
                                <input type="text" class="form-control" formControlName="dir_Email" [ngClass]="{ 'is-invalid': submitted && f.dir_Email.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.dir_Email.errors" class="invalid-feedback">Email is required</p>
                              </div>

                            </div>
                            <div class="form-group row">

                              <div class="col-sm-6">
                                <label class="col-form-label">Designation </label>
                                <select class="form-control" formControlName="dir_Designation_Drop" [ngClass]="{ 'is-invalid': submitted && f.dir_Designation_Drop.errors }" [(ngModel)]="dir_des_Value">
                                  <option value="">--Select--</option>
                                  <option value="1">Director</option>
                                  <option value="2">HoD</option>
                                  <option value="3">Dean</option>
                                  <option value="4">Other</option>

                                </select>

                                <p *ngIf="submitted && f.dir_Designation_Drop.errors" class="invalid-feedback">Please select Designation </p>
                              </div>

                              <div class="col-sm-6">
                                <ng-container *ngIf="dir_des_Value == '4'">
                                  <label class="col-form-label">Designation (Other)</label>
                                  <input type="text" class="form-control" formControlName="dir_Designation" [ngClass]="{ 'is-invalid': submitted && f.dir_Designation.errors }">
                                  <p *ngIf="submitted && f.dir_Designation.errors" class="invalid-feedback">Designation is required</p>
                                </ng-container>
                              </div>

                            </div>
                            <hr />
                            <div class="form-group row">
                              <div class="col-sm-12" style="background-color:blue">
                                <div class="form-control">
                                  <input type="checkbox" (change)="eventCheck($event.target)">
                                  <label style="margin-left:20px">

                                    <b>SAME AS ABOVE</b>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <hr />

                            <h4 class="sub-title">Nodal Officer Details</h4>
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Nodal Officer Name</label>
                                <input type="text" class="form-control" formControlName="nodal_Name" [ngClass]="{ 'is-invalid': submitted && f.nodal_Name.errors }">
                                <p *ngIf="submitted && f.nodal_Name.errors" class="invalid-feedback">Nodal Officer Name is required</p>
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Phone No.</label>
                                <input type="text" class="form-control" formControlName="nodal_Phone_No" [ngClass]="{ 'is-invalid': submitted && f.nodal_Phone_No.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.nodal_Phone_No.errors" class="invalid-feedback">Nodal Officer Phone No is required</p>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Mobile No.</label>
                                <input type="text" class="form-control" formControlName="nodal_Mobile_No" [ngClass]="{ 'is-invalid': submitted && f.nodal_Mobile_No.errors }">
                                <p *ngIf="submitted && f.nodal_Mobile_No.errors" class="invalid-feedback">Nodal Officer Mobile No is required</p>
                              </div>

                              <div class="col-sm-6">
                                <label class="col-form-label">Email Id</label>
                                <input type="text" class="form-control" formControlName="nodal_Email" [ngClass]="{ 'is-invalid': submitted && f.nodal_Email.errors }"
                                       placeholder="">
                                <p *ngIf="submitted && f.nodal_Email.errors" class="invalid-feedback">Nodal Officer Mobile No is required</p>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6">
                                <label class="col-form-label">Designation </label>
                                <select class="form-control" formControlName="nodal_Designation_Drop" [ngClass]="{ 'is-invalid': submitted && f.nodal_Designation_Drop.errors }" [(ngModel)]="nodal_des_Value">
                                  <option value="">--Select--</option>
                                  <option value="1">Director</option>
                                  <option value="2">HoD</option>
                                  <option value="3">Dean</option>
                                  <option value="4">Other</option>

                                </select>

                                <p *ngIf="submitted && f.nodal_Designation_Drop.errors" class="invalid-feedback">Please select Designation </p>
                              </div>

                              <div class="col-sm-6">
                                <ng-container *ngIf="nodal_des_Value == '4'">
                                  <label class="col-form-label">Designation (Other)</label>
                                  <input type="text" class="form-control" formControlName="nodal_Designation" [ngClass]="{ 'is-invalid': submitted && f.nodal_Designation.errors }">
                                  <p *ngIf="submitted && f.nodal_Designation.errors" class="invalid-feedback">Nodal Designation is required</p>
                                </ng-container>
                              </div>

                              <!-- <div class="col-sm-6"> -->
                              <!-- <label class="col-form-label">Contact person</label> -->
                              <!-- <input type="text" class="form-control" -->
                              <!-- placeholder=""> -->
                              <!-- </div> -->
                            </div>
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Email ID</label> -->
                            <!-- <input type="text" class="form-control"> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Phone</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Address</label> -->
                            <!-- <textarea rows="2" cols="2" class="form-control" placeholder=""></textarea> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Contact Person</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Email ID</label> -->
                            <!-- <input type="text" class="form-control"> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Phone</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Address</label> -->
                            <!-- <textarea rows="2" cols="2" class="form-control" placeholder=""></textarea> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Contact person</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Email ID Phone</label> -->
                            <!-- <input type="text" class="form-control"> -->
                            <!-- </div> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Phone</label> -->
                            <!-- <input type="text" class="form-control" -->
                            <!-- placeholder=""> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="form-group row"> -->
                            <!-- <div class="col-sm-6"> -->
                            <!-- <label class="col-form-label">Address</label> -->
                            <!-- <textarea rows="2" cols="2" class="form-control" placeholder=""></textarea> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <div class="form-group row mt--40">
                              <div class="col-sm-12 text-center">
                                <button class="btn btn-primary waves-effect" (click)="onSubmit()">Submit</button>
                              </div>
                            </div>

                          </form>

                        </div>
                      </div>
                      <!-- Basic Form Inputs card end -->


                    </div>
                  </div>
                </div>
                <!-- Page body end -->
              </div>
            </div>
            <!-- Main-body end -->
            <!-- <div id="styleSelector">

            </div> -->
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>

