<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
   <app-header></app-header>
        <div class="pcoded-content">
            <!-- Page-header start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Users</h5>
                            
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="index.html"> <i class="fa fa-home"></i> </a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">Users</a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">

                        <!-- Page body start -->
                        <div class="page-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- Basic Form Inputs card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="col-md-12 text-left">
                                                <div class="addMou">
                                                    <a class="text-white" (click)="newUser()">New Users</a>
                                                </div>                                            
                                            </div>
                                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                                            <div class="card-header-right">
                                                <ul class="list-unstyled card-option">
                                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                                    <li><i class="fa fa-trash close-card"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>jobTitle</th>
                                                            <th>Name</th>
                                                            <th>Full Name</th>
                                                            <th>email</th>
                                                            <th>roles</th>
                                                             <th>User Enabled</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let row of rows;let i=index;">
                                                            <th scope="row">{{i+1}}</th>
                                                            <td>{{row.jobTitle}}</td>
                                                            <td>{{row.userName}}</td>
                                                            <td>{{row.fullName}}</td>
                                                            <td>{{row.email}}</td>
                                                            <td>{{row.roles}}</td>
                                                            <td>   <span [class.locked-out]="row.isLockedOut" [class.user-disabled]="!row.isEnabled"> <i *ngIf="row.isLockedOut" class="fa fa-exclamation-triangle"> </i>
                                                                <i *ngIf="!row.isEnabled" class="fa fa-exclamation"> </i></span>
                                                            </td>
                                                            <td>
                                                                <a class="mr-3" (click)="editUser(row)"><i class="fa fa-edit fa-lg"></i></a>
                                                                <a  (click)="deleteUser(row)"><i class="fa fa-trash fa-lg"></i></a>
                                                            </td>
                                                        </tr>
                                                 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Hover table card end -->
                             
                                    <!-- Basic Form Inputs card end -->


                                </div>
                            </div>
                        </div>
                        <!-- Page body end -->
                    </div>
                </div>
                <!-- Main-body end -->
                <!-- <div id="styleSelector">

                </div> -->
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #editorModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4><i class="fa fa-user-plus"></i>New User</h4>
                <button type="button" class="close float-right" title="Close" (click)="editorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <app-user-info #userEditor [isGeneralEditor]="true" [roleArray]="allRoles" [departments]="departments"></app-user-info>
            </div>
        </div>
    </div>
</div>
